[2019-02-04 14:18] JensRantil opened #595 "Priority documentation improvements"
https://bors.tech/documentation/ documents how to set the priority of something, but it doesn't say whether 0 will be chosen before 1, or the other way around. How about documenting that?

I'm also missing documentation how priority is used. Will Bors never batch two PRs with different priorities? Or is priority only used when there is a merge conflict and one of the PRs will need to be tested bef

[2019-02-04 16:52] #595 closed

[2019-02-05 01:12] #587 closed

[2019-02-07 21:06] #199 closed

[2019-02-07 21:07] notriddle commented on #199
I'm definitely not going to do this.

If you need bors-like behavior on a gitlab repo right now, you can use <https://github.com/smarkets/marge-bot>. I found this while doing research for a client while planning to do this port, but since it already exists...

It'll also be superseded by [merge trains](https://gitlab.com/gitlab-org/gitlab-ee/issues/9186) once that feature ships.

[2019-02-11 08:59] deivid-rodriguez opened #598 "Should CircleCI default config use regexp?"
I'm trying out bors-ng at https://github.com/activeadmin/activeadmin/pull/5548, and I wonder why it doesn't just work.

I'm wondering, since we use CircleCI workflows where each check has the form "ci/circleci: <name_of_the_job>", whether [the default config for the CircleCI 2.0 config file](https://github.com/bors-ng/bors-ng/blob/1dba5c5ca243e481ccf58b8f90764628e353e487/lib/worker/batcher/get_bor

[2019-02-11 13:41] notriddle commented on #598
Yes, that is the culprit. It should be changed.

[2019-02-11 16:45] #598 closed

[2019-02-11 17:27] deivid-rodriguez commented on #598
Still not working afte the fix. What I did was enabling the github app, creating a `trying` remote branch in the repo, and commenting `@bors try` on a PR. There's no `bors.toml` file but I was expecting autodetection to work. Am I missing some steps?

[2019-02-11 17:32] notriddle commented on #598
Drop the `@`. It's just `bors try` when you use this version.

[2019-02-11 19:06] newtonbeck opened #600 "Bors adds only the 30 first collaborators of a repository to reviewers list"
I work in a repository with more than 30 collaborators who can comment `bors r+` command to Pull Requests. The issue we are facing is `bors r+` is available to only the first 30 collaborators returned by the GitHub API.

The other users receive the following message from Bors when commenting `bors r+`:

[code]

It seems Bors is not correctly paginating on GitHub's API response.

[2019-02-11 19:48] notriddle commented on #598
Okay, looking at what happened in your PR. It looks like bors got the message, but CircleCI didn't actually run on the `trying` branch. You can see it by looking at the ❌ next to the commit that bors made, and the fact that it only lists Lint CI.

[2019-02-11 20:06] notriddle commented on #600
Yeah, that's what happens when I switch to a library that changes the default case for HTTP headers...

[2019-02-11 21:00] #600 closed

[2019-02-11 21:02] deivid-rodriguez commented on #598
Yeah, I noticed that! Maybe #599 was incorrect and I actually broke it? The initial problem of bors not listening to me was due to the incorrect username after all.

[2019-02-15 00:26] notriddle opened #602 "Add a new pre-check: refuse to enqueue or merge "draft" pull requests"

[2019-02-18 13:39] hirden opened #605 "Timeout issues"
Hi, when running a command on bors I get this timeout:
[code]
And bors status is then still pending, I was wondering if there is some retry logic implemented around this or does the timeout crash status not get reported back to github?
Or is there something else to be done when this occurs so that the PR gets its status reported properly?

[2019-02-18 16:07] matklad opened #606 "bors try takes very long time on azure pipelines"
Hi!

I am trying out bors with azure-pipelines. bors r+ works like a charm, however for bors try I observe a surprising behavior: bors replies "try succeeded" after a huge delay (1 hour) after the build has finished.

Here's an example:

https://github.com/rust-analyzer/ra_vfs/pull/1

Here, bors try starts *before* r+, but finishes long after.

[2019-02-19 03:24] DilumAluthge commented on #138
Any update on this?

[2019-02-21 10:00] therealprof opened #607 "Explanations in settings swapped?"
Hi there,

I find the explanations for "Reviewer" and "Member" a bit weird, shouldn't be a "Member" a person with full permissions and "Reviewer" someone who can `try` and `retry`? Are the explanations just swapped or am I missing something?

<img width="1121" alt="screen shot 2019-02-21 at 10 55 48" src="https://user-images.githubusercontent.com/3321888/53160165-aab0fa80-35c7-11e9-8be5-4baaf686da

[2019-02-21 13:03] notriddle commented on #607
No, the explanation are right. They just need better names.

[2019-02-21 13:07] therealprof commented on #607
So our team members should go into the reviewers group and the reviewers go into the members group? 😅 Guess I have some shuffling to do then...

[2019-02-23 20:18] vvuk opened #608 "Permissions "Sync" not working/timing out"
I have a bors instance running on heroku connected to a private repository.  Both the github app and the repo are in a github org.

Bors' permissions sync doesn't seem to be working -- I'd like to give everyone who can pull the repo access to review and try, so I set the permissions to "Pull" and hit Update.  But it doesn't take; in the web logs I see:

[code]

There are around 2000 members in cas

[2019-02-23 20:23] vvuk commented on #608
Aaand that was it.  Bumping this to 60000 fixed it.  (I think git only needed ~15s but still.)  Sorry for noise!

[2019-02-23 20:23] #608 closed

[2019-02-23 20:24] vvuk commented on #608
GITHUB_API_TIMEOUT is the default 10_000.

[2019-02-25 03:46] DilumAluthge commented on #194
@notriddle Any update on this or #138?

[2019-02-25 17:48] vvuk commented on #194
Likewise very interested in this -- happy to support development or help in any way needed.

[2019-03-17 14:50] matklad opened #615 "Shorten delegate to d?"
I find that I use `bors delegate+` a lot: almost every PR has some minor issues, but most of PRs have *only* minor issues, so "r=me with nits fixed" is a common outcome of the review. `bors delegate+` is very handy in this situation: you don't need to review PR the second time, and you give a strong signal of trust to the contributor.

The only problem is that delegate is a long word to type, so I

[2019-04-08 14:16] matklad opened #626 "Adding a username with a leading space to the dashboard causes internal server error"
I've tried to add `username` to reviewers, but I accidently typed ` username`, and that resulted in an internal server error. This was for rust-analyzer repo just now, there might be some useful logs.

[2019-04-16 12:49] KaiSzuttor commented on #390
any plans on resolving this issue?

[2019-04-24 17:03] phil-opp opened #632 "Option to omit "Build succeeded" comment"
Github already sends a notification when a pull request is merged and also shows the successful checks in the web UI. So the "Build succeeded" comment is unecessary noise to me. Would it be possible to add a `bors.toml` option to disable this success message?

[2019-04-28 02:54] justanotherdot opened #637 "Functionality to customise commit titles/bodies"
Hi, thanks for the wonderful bot!

[I noticed on the bors-ng forum](https://forum.bors.tech/t/how-to-change-the-commit-message-format/307) that this functionality isn't done yet but there was no opposition to the idea. I had a look around the code and found where the commit messages from [bors are being templated](https://github.com/bors-ng/bors-ng/blob/239932148799c77313d092433ef7ff1c01bc82f0/lib

[2019-04-29 14:17] JensRantil opened #639 "Repository listing order improvement"
I have a repository with a long list of pull requests. Every time I visit https://www.mybors.com/repositories/42 it lists >40 pull requests and my most common use-case is to look at the "Running" and/or "Waiting to run". Since those lists generally are bound to be shorter, how about moving the _before_ "Awaiting review". My proposal is the following order:

 1. Running
 2. Waiting to run
 3. Await

[2019-05-06 21:49] vvuk opened #644 "'Synchronize' button broken on permissions settings"
I need to disable `bors r+` pushes until we get squashing sorted out; but when I go back to the permissions UI and change reviewer permissions to 'None', all existing reviewers just are kept and have a manual 'Remove' button.  I thought the Synchronize button is supposed to be for synchronizing the list, but it's somehow a label and not a button.  Latest `master` of bors-ng, also happened with the

[2019-05-06 21:50] vvuk commented on #644
Or hmm, was this never a button?  I have 600+ people in the reviewer list, how do I avoid manually having to go through and remove everyone?

[2019-05-06 22:22] vvuk commented on #644
(Ended up doing it manually via postgres -- `delete from link_user_project;` for anyone else that winds up here)

[2019-05-09 02:41] nbraud commented on #288
FWIW, we would find this useful in [PursuedPyBear](https://pursuedpybear.org) too: currently, one of the maintainers sets flags when a PR is approved (`bors r+`), but that really ought to be automated.  :3

[2019-05-09 15:18] JensRantil commented on #639
Example of how it looks today for me:

![image](https://user-images.githubusercontent.com/730342/57465234-7bcd2b00-727e-11e9-9422-7d38a12db496.png)

[2019-05-13 23:27] DilumAluthge opened #647 "[Feature Request] Support GPG-signed commits in self-hosted instances of Bors"
Currently, Bors does not have the ability to GPG-sign the commits that it creates. (See [forum post here](https://forum.bors.tech/t/bors-batch-crashed-cancelled-after-passing-staging-build-branch-protection/260/3).)

Would it be possible to add the ability to GPG-sign commits, but disable it in the publicly hosted instance of Bors?

That way, the administrator of a self-hosted instance of Bors cou

[2019-05-27 19:29] zegl commented on #561
This also seems to happen if is an open negative review ("request changes") open on the PR.

It would be nice if bors was more helpful in this situation, and posted a message as a PR comment, instead of crashing. Users that doesn't have bors reviewer access doesn't have access to look at the crash logs either, which makes this error frustrating for the user.

[2019-05-27 19:38] ForsakenHarmony commented on #561
Well I figured out it happens when reviews are required and you try to merge with bors before approving

[2019-06-02 22:15] DilumAluthge commented on #522
I can work on this.

[2019-06-02 22:18] DilumAluthge commented on #522
See pull request #652

[2019-06-03 00:48] #591 closed

[2019-06-03 01:13] #522 closed

[2019-06-05 11:01] umamaistempo commented on #561
I'll be taking a look on this issue. Hopefully I'll be shipping a fix on friday or monday (tomorrow is a holiday here)

[2019-06-05 14:31] jmesmon opened #657 "When a user is both a Reviewer and a Member, the repository is listed twice in their repositories list"
To some extent, it doesn't make sense to have the same user be a Reviewer and a Member, but it's not clear that it's harmful.

Some mechanism to avoid listing the repo twice (by some solution that just deals with a user being both a member and reviewer, or by some mechanism which prevents/migrates/etc users that are in both to just be reviewers) would be nice to avoid confusion.

[2019-06-07 08:50] umamaistempo commented on #561
This kind of problem should not occur anymore. In case anything similar or derived from this error occurs, feel free to create a new issue and tag me

[2019-06-07 08:50] umamaistempo commented on #561
@notriddle please close this

[2019-06-07 08:53] umamaistempo commented on #657
:thinking:

On which page ?

[2019-06-07 08:53] umamaistempo commented on #657
Oh, found out the bug. Will issue a PR soon :)

[2019-06-07 09:53] umamaistempo commented on #626
Hello, I think I found the error, will make a PR :+1:

[2019-06-07 10:55] umamaistempo commented on #607
Suggestion: Organizer/Contributor.

It sounds more like GitHub roles and is also clearer on who is who and doesn't reuse either terms to avoid confusion

[2019-06-07 13:01] umamaistempo commented on #425
Hello, taking a look at the code, there has been added around 8 months from now an implementation for the `check_suite` webhook on Bors, so it's technically impossible for this to happen anymore.

This means this issue can be closed :)

If any related error is encountered, feel free to create an issue an mention it here.

@JensRantil @notriddle can you close this issue ? thanks

[2019-06-07 22:35] JensRantil commented on #425
Nice. Closing then!

[2019-06-07 22:35] #425 closed

[2019-06-07 23:36] notriddle commented on #561
Sure, okay.

If anyone else runs into it, @ me so I can reopen.

[2019-06-07 23:36] #561 closed

[2019-06-07 23:57] #657 closed

[2019-06-10 07:46] umamaistempo commented on #639
Forgot to incluse a `closes #639` on the PR. The #658 PR "fixes" this by prioritizing transient states on presentation (waiting and running). @JensRantil this can be closed

[2019-06-10 11:17] JensRantil commented on #639
Sweet! Thanks! 😍

[2019-06-10 11:17] #639 closed

[2019-06-10 19:53] #626 closed

[2019-06-11 01:07] DilumAluthge opened #663 "Feature request: Sort the list of repos alphabetically"
I have installed Bors on quite a few repositories. Currently, when I go to the list of repositories ([https://app.bors.tech/repositories](https://app.bors.tech/repositories)), the repositories are sorted in (I believe) the order in which Bors was installed. This makes it a little difficult to navigate a long list of repositories.

Could we instead sort the list of repositories in descending alphab

[2019-06-11 07:33] umamaistempo commented on #663
:+1: Will take a look at this later today :)

I think that it is more logical to have an order, the most obvious one being A-Z.

However it will not be configurable (atleast at first)

[2019-06-11 15:15] umamaistempo commented on #644
Hey @notriddle, I never saw the config page so I am out of the loop. But does this expectation from the synchronize button makes sense ?
If the answer is "yes", I am going to pick this task and fix it as a bug fix :>
Otherwise, I'll add a short explanation on what should be expected from this on that panel

[2019-06-11 15:31] umamaistempo commented on #534
:thinking:

Is this the case of feature branches ? Because that's the only case that I can think of. Albeit I do agree with the purpose, I think that it would be probably better for this to be something more explicit (ie: that somehow it was mentioned to Bors that certain specific branches are not to be removed). Either that would be a config or a command, not sure, what do you think ?

[2019-06-11 17:52] notriddle commented on #644
"Synchronize" was never a button. It was always a label.

[2019-06-11 18:27] #663 closed

[2019-06-12 13:54] umamaistempo commented on #644
Okay. I took a look at the code & HTML. I think that the actionable that we can take is to add a description that the select box (and the update button) means something like _Automatically synchronize Reviewers/Members with GitHub. A Reviewer/Member is a contributor with the following permission in Github:_ and rename the `None` option to `Disable automatic synchronization` to make it clear that i

[2019-06-12 20:11] notriddle commented on #644
Probably, yeah. Fixing the layout so that the form input and the button are lined up better would probably also help.

[2019-06-14 08:17] umamaistempo commented on #644
Okay, assign this to me, will work on it next week :)

[2019-06-16 01:08] DilumAluthge opened #667 "Bug report: the "build failed" comment no longer includes a clickable link with the new Travis integration"
With the old Travis integration, if a build fails, the Bors "build failed" comment includes a clickable link to the failed Travis build. This made it very easy to get directly to the log of the failed Travis build.

With the new Travis integration, the Bors "build failed" comment no longer makes a clickable link to the Travis build.

Is this something that can be fixed in Bors?

For reference, [th

[2019-06-16 05:32] DilumAluthge commented on #578
@felipethome Now that the RFC process is up and running, would you be willing to draft an RFC for this feature request? You can submit a draft RFC here: https://forum.bors.tech/c/development/draft-rfcs

[2019-06-16 05:45] DilumAluthge commented on #667
I think that this might be similar to https://github.com/bors-ng/bors-ng/issues/569

[2019-06-17 09:10] umamaistempo commented on #667
That's unfortunate. I'll take a look :+1:

[2019-06-18 02:07] jeffparsons commented on #252
This behaviour is irritating, especially in combination with Dependabot.

Dependabot opens a PR with a list of summarised commits from upstream. Some of those commits might have "[ci skip]" in their description.

"CI skip" means absolutely nothing in our build system, but Bors predicts (wrongly) that the presence of "CI skip" in the PR description means that the PR would time out. The PR then sits

[2019-06-19 23:23] MarkSRobinson commented on #194
My company is very interested in the squash and merge functionality.  Is someone currently working on this?

[2019-06-21 01:20] DilumAluthge commented on #667
@umamaistempo Any update on this?

[2019-06-24 10:29] umamaistempo commented on #667
Sorry, had a couple bad days last week :/

Will try to look again :joy:

Will update ASAP

[2019-06-27 11:35] johnae opened #673 "COMMAND_TRIGGER seems to not be respected"
Trying the latest docker image over at docker hub in kubernetes and setting COMMAND_TRIGGER to something other than bors doesn't actually do anything. Perhaps it did at one time since the README suggests that but it still seems to listen only to `bors`. Eg. if I set the COMMAND_TRIGGER to say `bleh` it won't listen to that if I do `bleh ping` - still just listens to `bors` (and `bros` for some thi

[2019-06-27 11:46] umamaistempo commented on #673
The `bros` command is an easter egg :joy:

[code]

Also, the COMMAND_TRIGGER is identified at compile-time, so, you have to ensure that elixir recompiled after you configured it.

TBH I'm not sure how it works out on Heroku as I've never used it, but if you can't find it (how to recompile) or recompiling doesn't solve it, respond to this issue again and I'll take a look :)

[2019-06-27 12:02] johnae commented on #673
@umamaistempo Hmm ok. Compile time? It doesn't say anything about that in the README but rather mentions that the environment variable `COMMAND_TRIGGER` would determine this...

[2019-06-27 12:02] JensRantil opened #674 "Merging a pull request where a CODEOWNERS owner hasn't approved leads to crash"
See attached example crash from the repository "History" tab:

![Screenshot 2019-06-27 at 14 02 01](https://user-images.githubusercontent.com/730342/60264729-38895300-98e4-11e9-8618-ec1615d34558.png)

Expected: That bors-ng would make a comment in the PR saying something like "code owner has not approved".

cc @umamaistempo @zegl

[2019-06-27 12:07] johnae commented on #673
This is the pull request that enabled this I believe: https://github.com/bors-ng/bors-ng/pull/461

[2019-06-27 12:08] umamaistempo commented on #673
Sorry, this is an implementation detail and those configs (pool size, public host, command trigger, secret key etc) are not changed frequently, so the code was built considering that once set they would always be the same.

To change this, it would require a minor refactor on the command part of the code, which is not a big deal but I am unsure whether this case is common and if we have to treat i

[2019-06-27 12:10] johnae commented on #673
Are you saying the README is misleading regarding running this in docker then? Because the other environment variables seemed to work just fine...

[2019-06-27 12:12] umamaistempo commented on #674
Thank you for this. I was about to check the cause of the 422 error (which is obviously about permission). With this it's clearer that one of those things can be the github configuration on codeownership. I'll add a case to respond such crash with a comment like "Bors failed to merge because GitHub did not allow the merge to be completed. Some configuration is not allowing the merge, it can be a l

[2019-06-27 12:17] umamaistempo commented on #673
Hello @johnae . The README is not missleading, it just does not mention that this in particular was something defined on compilation and since something like this has never happened, it never changed to be dynamically set (no one even noticed it probably) as originally the value would always be set as Bors.

[2019-06-27 12:41] johnae commented on #673
But isn't it misleading to talk about starting a container with an env var that supposedly sets the trigger when that can never work (even though in the specific case it is being set to `bors` which wouldn't really change anything). That env var can't really be useful for anything in that context right? Until that pull request gets merged at least. Thanks for looking into this anyway!

[2019-06-27 13:00] umamaistempo commented on #673
This is more of an overlook IMO. This config was changed to receive a value from the ENV; before it would have to be changed from the config file and whenever a config file is changed the code is recompiled because of this.
So looking this way, I think that I understand better what you saying and yes, this is a bug because it can't react to env changes but who envisioned the deploy might have envi

[2019-06-27 14:07] JensRantil commented on #674
Perfect!

[2019-06-27 14:08] JensRantil commented on #674
...just double checking - GitHub are not bundling some specific reason for 422 error? If so, we could be more specific in feedback to user.

[2019-06-27 14:11] umamaistempo commented on #674
IDK, I do not have access to github API, but yesterday notriddle talked with me about using heroku for this debugging part. If it includes any info (which I bet it does), I'll try to include it here :)

[2019-06-27 17:43] notriddle commented on #673
Yes, it's misleading. And it definitely should be fixed (just r+-ed a PR that'll fix it, so just update).

[2019-06-27 18:37] #673 closed

[2019-06-28 08:18] umamaistempo commented on #674
@notriddle could you provide me "triage" access to the repo ? It's a beta feature that would allow me to put myself as the assignee of a task and having that bound to me makes it easier for me to remember to do it :)

Thanks

[2019-07-01 13:45] JensRantil commented on #674
Worth pointing out that when the PR gets "cancelled" Bors seem not to notify with a message in the PR at all.

[2019-07-01 13:46] JensRantil opened #681 "Merging a pull request where a CODEOWNERS owner hasn't approved should start bifurcation"
I just discovered a bug in Bors. If multiple pull requests are batched together and one of them fails because Github is returning an HTTP 422 (due to CODEOWNERS enabled) the other pull requests are cancelled. Expected: That bifurcation process starts.

Might be related to #674.

[2019-07-03 10:10] JensRantil commented on #414
🤔 Could the title of this issue better reflect the description?

[2019-07-03 13:04] JensRantil opened #684 "Support paging of the repository log"
Today https://my-bors-site.com/repositories/4/log is super slow to load. I propose paging is add to make it much faster to load - the absolute most common use-case for the page really is to look at the last few builds only.

[2019-07-03 13:05] JensRantil opened #685 "Purging of repository logs"
Today https://my-bors-site.com/repositories/4/log is super slow to load for us. Is purging of history supported? If so, it should likely be documented on how to be purged using some cronjob in README. If not supported, see this as a feature request.

[2019-07-03 14:00] JensRantil opened #686 "Support for checking Github Check status"
**Background:** We have a use-case where we'd like to do linting of git commit messages to make sure they adhere to our standard (a variation of https://www.conventionalcommits.org). Currently our CI has two different modes depending on type of commit:
 * Commit with single parent: It does linting of commit message on the single commit.
 * Commit with multiple parents: It does linting of all commi

[2019-07-05 05:59] silasary commented on #414
What would you recommend?

[2019-07-07 13:30] JensRantil commented on #414
How about "Support for unapproved PR reverts"? I'm having a hard time how the description ties into retries.

[2019-07-15 13:07] zegl opened #703 "Batch is not retried / split after crash (get_commit_status)"
A batch crashed with the following error message:

[code]

Even if a commit doesn't exist anymore, I would have expected bors to at least retry. Now all PRs in the batch silently failed and require a new `bors r+` to get merged again.

[2019-07-17 15:26] kvark commented on #138
Small heads up that gfx-rs project would want this badly...

[2019-08-04 00:55] DilumAluthge commented on #674
Bump @umamaistempo Are you still working on a feature in which Bors would post a comment on the pull request thread if a GitHub 422 error was encountered while trying to push?

[2019-08-05 07:44] umamaistempo commented on #674
Hello, sorry, I got caught away last weeks on a Data Modeling Lib on Java. This week I am planning to do some Bors, so I will certainly be fixing this very soon :)

[2019-08-18 16:51] tommilligan commented on #615
Opened #727.

[2019-08-21 01:55] DilumAluthge commented on #674
Hi @umamaistempo any update on this?

[2019-08-22 21:01] MikailBag opened #730 "Usage with Github Actions"
How should I use Bors, if I use Github actions for CI?
The problem is, I can't find what should I put in 'status' field in bors.toml.

[2019-09-03 14:39] samueldple commented on #730
I've resolved this - You use the name that comes after the name of the job but before the trigger. So if you have an action whose check appears as `Rust / Build (push)` the status would be "Build". See my `bors.toml` in the PR referening this issue above for an example.

[2019-09-03 18:41] #730 closed

[2019-09-08 18:24] #305 closed

[2019-09-08 18:28] notriddle opened #738 "Fix spots where no-JS isn't working"
- [ ] The "Synchronize" button on the front page doesn't work without JavaScript, because it uses a link with a DATA-METHOD backed by Phoenix's stock JS payload. Change it to an actual form and an actual button.

- [ ] The "Older" button on the History page is implemented using JavaScript to expand the table in-place. That's cool, but it would be nice to have a no-JS fallback.

[2019-09-09 00:41] DilumAluthge opened #739 "Bug report: long delay between `bors try` succeeding and the `try - Build succeeded` comment being posted"
_Cross-posted from [this forum post](https://forum.bors.tech/t/possible-bug-long-delay-between-bors-try-succeeding-and-the-try-build-succeeded-comment-being-posted/367)._

When I comment `bors r+`, as soon as all of the required status checks have succeeded, Bors comments `Build succeeded` and merges the pull request(s). This happens almost immediately (that is, within one or two minutes of all of

[2019-09-12 06:24] kimsaehun commented on #205
I'd like to use this issue as a way for me to explore the backend of BorsNG. Could I have this assigned to me please?

[2019-09-16 06:12] matklad opened #748 "bors delegate+ should explain how to approve the PR"
The delegation process looks like this at the moment:

![image](https://user-images.githubusercontent.com/1711539/64937168-e8c28400-d861-11e9-9e89-bc42130e91c8.png)

unless they are already familiar with bors, there's now way the delegatee can figure out that they need to respond with `bors r+`. It would be awesome if the "approve" word in borses comment was a hyperlink pointing to the docs.

[2019-09-16 13:41] notriddle commented on #748
Seems like a good first issue for someone to work on. The code for this is [down at the bottom of command.ex](https://github.com/bors-ng/bors-ng/blob/master/lib/web/command.ex#L439)

[2019-09-17 13:59] JensRantil opened #751 "Nicer error message when Github has timeouts"
Github's API was timing out at times a few days ago. We are a small team of people maintaining build and infrastructure, including bors-ng, who started getting pinged by various teams (we have ~150 engineers) that bors-ng wasn't working. They saw in the "History" tab that it was crashing. Screenshot:

![image](https://user-images.githubusercontent.com/730342/65047906-8c478d80-d963-11e9-9b71-1e88eb

[2019-09-20 06:00] kimsaehun commented on #205
Hi, I haven't had much time to work on this and I will be busy for the next 2-3 weeks so that will explain my inactivity. I'll post an update if I am still busy afterwards but if not, I will come back to work on this.

[2019-09-20 19:17] danielrhodes commented on #751
Same. It would be great if these error messages could be posted back into the github comments.

[2019-09-20 23:18] #615 closed

[2019-09-21 15:32] gmendonca opened #754 "Batch with PRs with different CodeOwners lead to crash"
Situation:
 - PR 1 has files modified that team 1 is the code owner of them
 - PR 2 has files modified that team 2 is the code owner of them
 - When batched together the batch fails saying that with the 422 code (related to https://github.com/bors-ng/bors-ng/issues/674) that the team 1 hasn't  approved.
 - However if I merge them separately with bors, it goes without a problem

My hypothesis is ma

[2019-09-23 00:53] DilumAluthge commented on #748
See https://github.com/bors-ng/bors-ng/pull/755

[2019-09-24 23:52] #748 closed

[2019-09-26 13:58] ericsolomon commented on #592
I'll take this issue. I'll submit a PR later tonight. Still working through the repo.

[2019-10-01 12:18] JohanLorenzo commented on #739
Hi! This is my first comment on the bors-ng project, so I'd like to thank you for this great product 😃 Mozilla has started to use bors for several projects, including [android-components](https://github.com/mozilla-mobile/android-components).

I've experienced the same issue on https://github.com/mozilla-mobile/android-components/pull/4541. Before then, no one noticed any latency. What I changed i

[2019-10-03 20:59] JensRantil commented on #674
Given that #725 has been merged and #754 is the outstanding issue I guess this can safely be closed.

[2019-10-03 20:59] #674 closed

[2019-10-03 20:59] JensRantil commented on #681
Given that #725 has been merged and #754 is the outstanding issue I guess this can safely be closed.

[2019-10-03 20:59] #681 closed

[2019-10-08 18:34] MarkSRobinson commented on #754
I've hit this problem before.  The solution it to turn off the GitHub review requirements, and enforce it solely through bors w/ https://github.com/bors-ng/bors-ng/pull/725 applied.

[2019-10-10 13:14] gmendonca commented on #754
Uhmmm, @MarkSRobinson  after merging https://github.com/bors-ng/bors-ng/pull/718 I cannot use both Squash merge and Codeowners options together. And I think what you just said should solve both problems. I'll give it a try.

[2019-10-11 06:30] EFanZh opened #766 "`delete_merged_branches` doesn’t work with `use_squash_merge`"
I have

[code]

in my `bors.toml` file.

After a PR being merged, the source branch in the same repository still exists.

[2019-10-11 18:33] vvuk opened #769 "constraint error when synchronizing users: unique: users_login_index"
When I attempt to synchronize all reviewers with "Push" permission, I get:

[code]

I can synchronize "Admin" permission without problems.  Not sure where to even start debugging.  I am an admin of the project; not sure if it's intended but my github username always shows up in the Reviewers column without the ability to remove it (even when "None" is selected for sync)  (Ah, I guess admins are al

[2019-10-11 18:43] vvuk commented on #769
I've manually cleared out `link_member_project` and `link_user_project` tables for this project; the error still occurs.  There are a few hundred people with "Push" access; I've upped the github API timeout already.

[2019-10-11 19:50] vvuk commented on #769
I'm learning so much about elixir :)  So after putting in a bunch of logging.  What seems to have happened is there was a user with name "Foo" who had github user id "100".  Now "Foo" has github user id "200", which I can guess happened because original "Foo" changed their username, and then created a new "Foo".

[2019-10-13 03:41] kimsaehun commented on #205
Could you explain how the patch-specific limits would work please?

By Repo-wide limits, I'm thinking that each repo will be able to be configured to have batches be limited to X number of patches. However, I'm not quite sure how a patch-specific limit would work.

[2019-10-13 19:33] TheoLeanse commented on #592
@ericsolomon are you still working on this? Happy to take it on if not :)

[2019-10-14 04:01] notriddle commented on #205
The simplest way to do it would be to add a way to prevent a particular patch from ever being placed into a batch. For example, you could do `bors r+ single`, and from then on the patch would always run alone. It would involve adding a new column to the `patches` table to include this marker.

[2019-10-14 10:01] gmendonca commented on #754
Closing it, as solely relying on bors solved the problem. I'll update bors documentation as well.

[2019-10-14 10:01] #754 closed

[2019-10-14 13:13] ericsolomon commented on #592
@TheoLeanse go for it. Work caught up with me so I haven't had a chance to look into what the status identifier for azure is.

[2019-10-15 00:48] #769 closed

[2019-10-15 11:47] JensRantil opened #774 "Issue posting to Github"
I'm getting the following error:
[code]
Could be that Github is having some issue. In that case, it would be nicer to have an actual nicer error message saying that Github had an issue. Otherwise, similarly to https://github.com/bors-ng/bors-ng/issues/751#issue-494642414 developers will reach out the the bors-ng maintainers and say something is broken with bors when it's not.

[2019-10-17 14:01] passcod opened #776 "Different main/master branch name"
Unsure if this would be covered by #136, mainly asking because I don't see mention of it in the documentation.

I don't have a `master` branch: I call that `main` instead. Will bors-ng work? Do I need to configure it in some way?

[2019-10-17 15:56] #776 closed

[2019-10-17 23:36] nlewycky opened #777 "pool of `trying` branches for parallel trys"
On my own project, it looks like `bors try` only runs on one PR at a time. The next one starts when the previous one finished. I'd like it to run multiple PRs at the same time, perhaps by creating a pool of `trying` branches for bors' use and configuring those in `bors.toml`.

Parallel `bors r+` is a non-goal here. Only `bors try`.

[2019-10-18 01:42] symbiont-james-sedgwick commented on #558
Hi, are there any further thoughts from maintainers on this? We could *really* use this (we're also in enterprise-software land where "git flow" strategies are necessary) but would like to avoid forking bors to make it happen.

[2019-10-18 17:24] notriddle commented on #558
I am not really opposed to it, if you really need it. If I were you, I would:

* Temp-fork it so that you can actually try it out.
* Open an RFC describing what you did, and we'll merge your changes in after they've had time to bake.

[2019-10-19 18:23] TheoLeanse commented on #592
Okie Dokie - the issue here is that the GitHub Status for an Azure Pipelines build appears to be the name of the individual Azure Pipeline itself, rather than something nice and generic like `ci/circleci`.

In this case I'm not sure if Azure Pipelines can be used without a `bors.toml` to explictly include the Pipeline name - I wondered if the Pipeline name could be derived from the project's `azur

[2019-10-19 19:22] notriddle commented on #592
Then I guess we can close the issue then?

Sorry about that.

[2019-10-19 19:22] #592 closed

[2019-10-21 18:13] milescrabill opened #781 "Migrate bors-ng project to community taskcluster deployment"
Hi!

I work on the Taskcluster team at Mozilla, and I'm writing to let you know about an upcoming change to our deployment of Taskcluster that will affect this project's use of Taskcluster for CI/CD.

We're splitting Taskcluster for Firefox and Taskcluster for community projects into separate deployments, which unfortunately involves a change for end users like this project.

The first step of the

[2019-10-21 22:17] #766 closed

[2019-10-22 17:46] milescrabill commented on #781
This is done! Thanks for the help :)

[2019-10-22 17:46] #781 closed

[2019-10-23 03:14] kimsaehun commented on #205
Thanks for the clarification. I'll try implementing the `bors r+ single` command.

[2019-10-23 16:24] kimsaehun commented on #205
Would the `single` command make more sense as a one time execution rather than a persistent execution?

I'm thinking of a case where one does a  `bors r+ single`, tests fail, and then does a `bors r+` because the second time around the user isn't concerned with whether the patch is batched or not. So the user would have to do the `single` command each time they want it to be isolated.

[2019-10-23 18:24] notriddle commented on #205
We have to track it in the database anyway, because there might be something in front of it in the queue, so we need to be able to enqueue it without batching it.

The reason I figured it should be a flag is that, in the case where the first `bors r+ single` and the second go-around is `bors r+`, it seems equally likely that the user may or may not intend it to run single the second time. It might

[2019-10-27 11:30] deivid-rodriguez commented on #739
Me too. I had this problem in https://github.com/rubygems/rubygems/pull/2958

[2019-10-27 11:40] deivid-rodriguez opened #783 "Bors crashed after `bors r+`"
Hello!! Thanks for bors-ng, it's very helpful to us!

After `@bundlerbot r+` (our "alias" to `bors r+`), we never got a status check back from bors-ng. When clicking on the link to the bors build, I see that bors-nng crashed crashed with the following error:

[code]

References rubygems/rubygems#2964.

[2019-10-27 20:10] notriddle commented on #783
If bors is getting a `403` error, that usually means something weird is configured with your protected branches settings. What do you have it set for?

[2019-10-27 21:57] bronzdoc commented on #783
@notriddle this is our `bors.toml`

https://github.com/rubygems/rubygems/blob/master/.github/bors.toml

[2019-10-27 22:30] DilumAluthge commented on #783
@bronzdoc Can you do the following steps:
1. Go to https://github.com/rubygems/rubygems/settings/branches
2. Under the `Branch protection rules` heading, look for the row that matches the `master` branch, and click on the `Edit` button in that row.
3. Post a screenshot of that entire page.

[2019-10-27 22:51] bronzdoc commented on #783
I'll @notriddle @DilumAluthge i'll get back with that as soon as i get access to see it.

[2019-10-28 18:40] bronzdoc commented on #783
@notriddle @DilumAluthge
![Screen Shot 2019-10-28 at 12 39 12 PM](https://user-images.githubusercontent.com/4595174/67707417-02d2a480-f980-11e9-8806-67cc854876de.png)

[2019-10-28 20:37] simonbyrne commented on #569
Any ideas on how this might be addressed?

[2019-10-30 03:55] indirect commented on #783
Hmmmm... maybe it is that we have "Require status checks to pass before merging" but there are not any status checks checked? Does that somehow break Bors but only for one PR? 😬

[2019-10-31 00:39] bronzdoc commented on #783
@indirect It has been always been like that isn't? and it was working before 🙊

[2019-10-31 00:44] DilumAluthge commented on #783
The screenshot that you posted does not show the entire page. Can you upload multiple screenshots that cover the entire page?

[2019-10-31 00:45] indirect commented on #783
@DilumAluthge There are many statuses shown there, but I scrolled through and they are all unchecked.

[2019-10-31 00:48] DilumAluthge commented on #783
I meant the rest of the settings page. There are other settings below the list of statuses.

[2019-10-31 00:48] notriddle commented on #783
It doesn't sound like a branch protection problem, since you've had successful merges both before and after this. It's intermittent.

I have to admit, I'm stumped.

[2019-10-31 00:49] DilumAluthge commented on #783
Are you using the latest version of Bors.

If I am not mistaken, the latest version of Bors will print the full text of the 403 error message, which is helpful for debugging.

[2019-10-31 00:50] DilumAluthge commented on #783
If it’s intermittent, I wonder if they’re hitting some kind of rate limit. I believe that get hub returns a 403 error when you exceed the rate limit.

[2019-10-31 09:17] deivid-rodriguez commented on #783
From looking at the places where we're seeing this problem, it seems like this happens when you instruct the bot to merge a PR+ immediately after a force-push? Definitely related for force-pushes as @bronzdoc mentioned in https://github.com/rubygems/rubygems/pull/2901#issuecomment-548168525.

[2019-10-31 09:21] DilumAluthge commented on #783
Can you go to your Bors dashboard and let me know what build of Bors you are running? It will be in the bottom right hand corner when you open the Bors dashboard.

[2019-10-31 09:23] deivid-rodriguez commented on #783
Also, yeah, we have updated our bors-ng installation (thanks @indirect! :)), and the error is now more verbose apparently:
[code]

[2019-10-31 09:25] deivid-rodriguez commented on #783
The dashboard says `build: 0.1.0`, which is a broken link to https://github.com/bors-ng/bors-ng/tree/v0.1.0.

[2019-11-01 03:05] indirect commented on #783
For the record, we are running 23c6cceb8af277a4081c34d3c3b83b918c70ea0b. I must have somehow messed up running the migration when I deployed, maybe I ran it before the deploy had fully finished or something. Anyway, we have migrated now!

@deivid-rodriguez you'll probably need to check on the error again now to see if the new version fixed it or changed it.

[2019-11-01 10:56] deivid-rodriguez commented on #783
Ok, I'm going to check out how bors is doing for us now, I report back here if the problems persist.

[2019-11-01 12:29] deivid-rodriguez commented on #783
Ok, so now I got this error:

[code]

And this time I didn't force push at all. The only "noticiable" thing about it is that there was a small time gap between the moment when CI went green and the moment when I posted the comment to instruct the bot to merge the PR.

[2019-11-08 13:55] zegl opened #792 "no function clause matching in anonymous fn/2 in BorsNG.GitHub.Reviews.from_json!/1"
We currently have a PR that produces the following crash when someone comments with "bors r+", for this particular PR it's reproducible, and happens every time someone adds a r+ comment.

Log extract:

[code]

[2019-11-12 15:38] milesgould opened #797 "Upgrade failed on Heroku with npm error"
We have a private Bors instance running on Heroku. This morning, we tried to upgrade it with `git push heroku master` from commit 0b7d6e1c to commit 379f160, but the upgrade failed with the error
[code]
[Full build log here](https://github.com/bors-ng/bors-ng/files/3836891/build.log).

We tried the following, with no success:
 - upgrading the Heroku stack from `heroku-16` to `heroku-18`
 - upgradi

[2019-11-12 17:27] notriddle commented on #797
Yeah, you should probably [clear the heroku build cache.](https://help.heroku.com/18PI5RSY/how-do-i-clear-the-build-cache)

[2019-11-13 10:26] milesgould commented on #797
That's fixed it - thanks very much!

[2019-11-13 10:26] #797 closed

[2019-11-14 19:34] dvic opened #798 "Are database ssl certificates supported?"
With `DATABASE_USE_SSL=true` I'm getting

[code]

Is it possible to configure the SSL certificate and key?

[2019-11-15 20:48] dvic commented on #792
We are seeing the same problems (PR's from dependabot).

[2019-11-15 20:51] dvic opened #799 "no function clause matching in :uri_string.parse/1"
We're seeing this problem with PR's from dependabot

[code]

[2019-11-17 00:47] #799 closed

[2019-11-18 14:52] JensRantil opened #801 "Renaming a repository in Github is not reflected in Bors"
After renaming the repository on Github, https://my-bors.com/repositories this lists the repository under the old name.

[2019-11-18 19:31] MikailBag commented on #730
Well, I have another question/problem.
It seems that if job specified in `status` was not run, because some needed job failed, then Bors does not detect build as failed. Instead, build simply times out. example commit: https://github.com/MikailBag/jjs/commit/88cfaad18fdeb51f178336e764c823289d2ec407

[2019-11-19 07:57] dvic commented on #801
As a workaround, I think you can change the repository name in the database.

[2019-11-19 08:21] matklad opened #802 "Better diagnostics for 403 errors"
I've recently switched rust-analyzer from travis to github actions, and I see these errors in the logs

<details>
[code]
</details>

The core info here is I think

[code]

but it's very hard to get from the log (and you need to look at the log). It would be cool if, instead of crashing, bors posted a comment to the `r+` PR saying that something's wrong with permissions.

I also wonder what's the u

[2019-11-19 12:36] zegl opened #803 "Check all CODEOWNERS locations"
According to the GitHub documentation, codeowners can be defined at three locations.

bors only checks `.github/CODEOWNERS`  ([code](https://github.com/bors-ng/bors-ng/blob/fcec51b5f6e5a691d3e310bd35ba7b74e55b667f/lib/worker/batcher/get_code_owners.ex#L12)).

I believe that bors should check all three locations for the presence of a CODEOWNERS file.

I also think that it would be a good idea to cr

[2019-11-19 15:23] zegl opened #804 "CODEOWNERS check requires approval from more teams than neccesary"
When `.github/CODEOWNERS` is set to:

[code]

And the file `/path/to/xxx/yyy.yaml` is modified, bors still expects `team-a` to approve the PR, even if that is not necessary by GitHub.

Censored logs from when a PR similar to the one described above is approved by all teams except team-a:

[code]

When `team-a` approved the PR, it was accepted by bors.

This is from an instance of bors built from c

[2019-11-19 16:06] zegl commented on #804
After some digging, it seems like the issue lies with the leading slash in the CODEOWNERS definition, and that the second (`.yaml` rule doesn't match). GitHub is fine with the leading slash, so I think that bors-ng should be as well.

[2019-11-19 17:38] notriddle commented on #802
Yeah, the diagnostics are pretty bad, though I'd say the `body:` part is probably more relevant:

     body: "{\"message\":\"Resource not accessible by integration\",\"documentation_url\":\"https://developer.github.com/v3/repos/merging/#perform-a-merge\"}"

That doesn't really help much, either, though. GitHub just really isn't giving us much to work with.

[2019-11-19 17:48] #804 closed

[2019-11-19 17:58] matklad commented on #802
TBH, i don't really understand the root cause of this particular error (as bors worked perfectly for most other PR). I've guessed that it's because the PR in question modified workflow files, and that somehow such changes are forbidden for bots, and just merged the PR manually. Not sure if this is true, will look out for further similar errors.

[2019-11-19 21:09] matklad opened #806 "Weird permission problem with github actions"
So I am getting

[code]

error on some pull-request on rust-analyzer, but not on others. https://github.com/rust-analyzer/rust-analyzer/pull/2297 and https://github.com/rust-analyzer/rust-analyzer/pull/2316 (resubmission of the same commit as a new PR) failed with this error,  but https://github.com/rust-analyzer/rust-analyzer/pull/2317 begun testing successfully.

[2019-11-20 06:46] KaiSzuttor commented on #364
This issue still persists. Why does bors not directly check the mergability via the github api? There should only be a single source of truth.

[2019-11-20 12:52] phil-opp commented on #806
I saw the same error with `{"status", "403 Forbidden"}` when trying to merge https://github.com/rust-osdev/bootloader/pull/85.

[2019-11-20 17:16] notriddle commented on #364
We specifically want to allow you to configure your repo so that bors is a require status check (that way, you can't accidentally merge directly into master). If you do that, though, then GitHub's "mergable" API will always return `false`.

[2019-11-20 17:20] KaiSzuttor commented on #364
that's actually the wrong indicator. the mergable flag of the pull request just indicates whether there are merge conflicts. However, the api can check the sastus of the last commit of the pull request

[2019-11-20 22:01] aaronjensen commented on #797
I'm getting this as well on master, even after clearing my build cache. I have not upgraded elixir, since it looks like that's hard coded in the repo. Should I?

[2019-12-03 17:48] matklad commented on #806
Happened again in another repo: https://github.com/ferrous-systems/flamegraph/pull/33

[2019-12-17 17:21] JohanLorenzo commented on #739
Hi @notriddle! Thank you very much for making and maintaining bors! 🙂

Would you have an idea that may explain this issue people have experienced?

Thanks in advance for your time 🙂

[2020-01-05 09:20] deivid-rodriguez commented on #783
Same error (at least very similar) happened again (the one in the original message), but it now includes more information:

[code]

Reference: https://github.com/rubygems/rubygems/pull/3064

[2020-01-05 11:26] deivid-rodriguez commented on #783
The error seems reproducible at the moment on that PR, since I retried bors there, and the error happened again.

[2020-01-05 11:28] deivid-rodriguez commented on #806
Same in https://github.com/rubygems/rubygems/pull/3064. Might be a duplicate of https://github.com/bors-ng/bors-ng/issues/783?

[2020-01-06 12:20] deivid-rodriguez commented on #802
Regarding the 403 errors themselves, they could be the same as #806 and #783.

I can confirm that on both PRs were we have hit this, the following conditions were met:

* PR was coming from an external fork.
* PR was editing github actions workflow files.

[2020-01-07 16:59] matklad commented on #806
Looks like this definitely happens if PR in questions modifes github acitons themselves, but I think it also happens in some other cases (maybe when merge commit contains changes to actions along at least one ancestoral path?)?

[2020-01-09 16:40] deivid-rodriguez commented on #802
Ok, ruling out the "external fork" hypothesis, since it just happened again on [an "internal PR"](https://github.com/rubygems/rubygems/pull/3074). So the only thing all PRs where we have hit this have in common is that they modify github actions workflow files.

[2020-01-09 16:59] deivid-rodriguez commented on #802
My bad, forget about my last comment, that PR merged fine and bors didn't crash there.

[2020-01-11 08:00] kimsaehun commented on #397
I'd like to give this one a go. Could I have this one assigned to me please?

[2020-01-11 16:36] notriddle commented on #397
Sure, it's assigned.

[2020-01-15 07:13] kimsaehun commented on #397
I've taken a look at this but could use some clarification. As I understand it, the project page displays patches and clicking on the history tab displays batches ordered by time. Just to confirm, Is the desired behavior to have the patches listed under "Waiting to Run" section be sorted in the order they will be run in batch?

[2020-01-16 08:50] zegl opened #851 "Crash when CODEOWNERS team doesn't exist"
Version: f4fabd8

The application crashes and logs the following when `use_codeowners = true` and a team defined in `.github/CODEOWNERS` doesn't actually exist.

The issue seems to be that there is no error handling if `GitHub.get_team_by_name` fails here:

https://github.com/bors-ng/bors-ng/blob/f4fabd89d83e10601f98db87b76c92c1b7377fec/lib/worker/batcher.ex#L661-L669

Error log:

[code]

[2020-01-16 11:22] deivid-rodriguez opened #852 "Detect PRs where CI run against a fully rebased master"
And skip the full bors-ng cycle in that case, and merge directly.

Is this a feature that makes sense adding to bors-ng? I think it would make the workflow of many repos using bors-ng much more agile.

[2020-01-16 20:24] notriddle opened #853 "Store `mergeable` in the patches table"
This is an optimization on top of https://github.com/bors-ng/bors-ng/pull/843

It would be nice if we didn't have to hit the repository every time we split a batch. It's not a big enough deal to block on, but it makes everything just a bit slower, so it would be nice to avoid it.

[2020-01-17 17:01] SocalNick commented on #853
Doesn't merge-ability change as additional batches are landed on the trunk branch? cc @noizwaves @ansonlc

[2020-01-17 17:32] noizwaves commented on #853
@SocalNick I haven't looked into it yet, but I suspect we would get updates (via one of the webhooks) that contains this information. Highly likely when the PR changes, but I'm unsure if changes to trunk branch triggers new PR specific webhooks.

[2020-01-17 20:06] notriddle commented on #853
Yeah, we would need to use the `pull_request` webhook (GitHub uses the `synchronize` action whenever the relevant branches change).

[2020-01-20 20:24] ppannuto opened #855 "bors misses commands from comments made using review interface"
Historically, we have been able to issue bors commands directly during the review flow in github (i.e. if you approve a code review and in the code review comments begin with `bors r+`, the PR will merge). Something changed in the last month-ish, however, and now bors requires a comment directly on the main thread.

Concrete example: https://github.com/tock/tock/pull/1554

Is this an intended chan

[2020-01-21 22:28] noizwaves opened #856 "Crash when Bors attempts to push into externally updated target branch"
When bors completes a batch, it pushes `batch.commit` onto `batch.into_branch` (https://github.com/bors-ng/bors-ng/blob/master/lib/worker/batcher.ex#L528). This call can fail if the `into_branch` was updated after the Batch's staging branch was created. This scenario will crash Bors.

In our usage of Bors, we will often need to fix high priority issues by pushing directly to the master (thereby si

[2020-01-22 17:04] pocmo commented on #855
We noticed this happening too. Took a while until we noticed that only "review comments" were not triggering bors anymore.

[2020-01-22 20:38] rehandalal commented on #855
+1

[2020-01-29 00:12] noizwaves commented on #855
We have noticed this as well, and think we've introduced a fix in #860

[2020-01-29 00:16] jamesmunns commented on #855
Thank you @noizwaves!

[2020-01-31 12:46] zegl opened #866 "Required status check "bors" is pending"
Using the public hosted version of bors, I've started to see failures like this today, `r+` worked fine yesterday.

PR: https://github.com/zegl/kube-score/pull/218

Branch protection is enabled on `master`, and only requires the `bors` status.

[code]

[2020-01-31 12:49] zegl commented on #866
I'm not seeing similar errors when using a private instance of bors, that's built from an earlier commit.

Since this bug is new, I'm suspecting that https://github.com/bors-ng/bors-ng/pull/859 might be the culprit.

[2020-01-31 13:24] Ogeon commented on #866
I'm having the same problem for https://github.com/Ogeon/palette/pull/164.

[2020-01-31 14:43] casey opened #867 "Bors seems to have replaced my name with my username"
In a commit merged by Bors, it seems to have replaced my name with my username. For reference, the first `Author` line was in the commit merged by Bors, and the bottom line was merged without Bors:

[code]

This is somewhat surprising, I would suspect it to preserve the `Author:` line as-is. I was using `use-squash-merge = true` which might have something to do with it.

[2020-01-31 19:39] TomVasile commented on #866
We are also experiencing this issue using the public hosted version.

{{:badmatch,
  {:error, :push, 422,
   "{\"message\":\"Required status check \\\"bors\\\" is pending.\",\"documentation_url\":\"https://help.github.com/articles/about-protected-branches\"}"}},
 [
   {BorsNG.Worker.Batcher, :complete_batch, 3,
    [file: 'lib/worker/batcher.ex', line: 553]},
   {BorsNG.Worker.Batcher, :maybe_comp

[2020-01-31 21:33] #866 closed

[2020-02-08 21:53] notriddle opened #872 "Migrate teams API usage from /teams/ to /organization/teams/"
To make sure we keep up with GitHub's current API version, we need to migrate off of the now-deprecated API endpoints. We use one of the deprecated endpoints in [belongs_to_team](https://github.com/bors-ng/bors-ng/blob/a673731f9283eecc8961aa6fa51020863d6deade/lib/github/github/server.ex#L392).

For more information, see https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/

[2020-02-11 15:48] noizwaves commented on #301
I think this was fixed in #859

[2020-02-11 16:54] notriddle commented on #301
Yes, it was. Thanks!

[2020-02-11 16:54] #301 closed

[2020-02-12 00:02] maxwell-k commented on #739
I think that I am also experiencing this issue. I would love to help with it, but I am not sure how to help. Does anyone have a suggestion, please?

I think this issue is at least related to and likely a duplicate of https://github.com/bors-ng/bors-ng/issues/606

I am really grateful to the maintainers for this piece of software; and for the service. I think bors is  great, so thank you.

[2020-02-13 16:38] noizwaves opened #875 "Bors starts same batch multiple times concurrently, corrupts master branch, enqueues merged PRs again"
This is mostly a follow on from this [forum post](https://forum.bors.tech/t/debugging-possible-concurrent-batcher-executions/443) about an incident that happened with our production Bors deployment.

## Setup

We are running Bors with `use_squash_merge = true`

## Problem

We received complaints from developers that their merged changes were not visible in the `master` branch, despite their PRs be

[2020-02-13 17:28] notriddle commented on #875
Use the second one.

The `staging.tmp` branch name is hardcoded into a bunch of people's config files, so we really don't want to change it.

[2020-02-13 18:32] noizwaves commented on #875
@notriddle thanks for the quick reply! If you have other approaches or solutions to this, we'd love to hear them too.

[2020-02-13 23:07] notriddle commented on #875
I can start out by pointing out a few other things:

A GenServer, such as Batcher, is single-threaded. Bors-NG should only ever have one Batcher per repository at once, so it should not actually be possible for multiple things to run at the same time, but this might be the cause of your bug. Check if your logs have the ID of the genserver in them, to rule out the possibility that you've got duplic

[2020-02-13 23:17] noizwaves commented on #875
We are pretty sure they are running on the same GenServer (190), but would love to get your thought.

This are the log lines scoped to the time of our incident and on the 5 calls to `Logger.info` in `Batcher.start_waiting_merged_batch`:
[bors-ng_2020-02-06_223000_2020-02-06_225900.log](https://github.com/bors-ng/bors-ng/files/4201894/bors-ng_2020-02-06_223000_2020-02-06_225900.log).

New lines wer

[2020-02-14 18:27] notriddle commented on #875
I don't sure that's actually the PID (the PID normally has the format `<123.123.123>`). I'm going to commit this; it'll help. https://github.com/bors-ng/bors-ng/pull/876

[2020-02-18 12:52] matklad opened #880 "Bors makes repeatedly leaves the same comment on the issue"
https://github.com/rust-analyzer/rust-analyzer/pull/3204#issuecomment-587442686

I think the story with this PR is as follows:

* PR is submited
* another PR is merged, which modifies `.gtihub/workflows`
* orignal PR is r+, but is not merged due to #806
* I merge PR manually
* bors gets very talkative :D

[2020-02-19 21:24] #880 closed

[2020-02-21 17:55] noizwaves opened #882 "No comments for batches with merge conflicts"
Hey, we noticed that Bors [no longer comments on PRs that were a part of failed batches](https://github.com/bors-ng/bors-ng/commit/7cc69bcb085ad5b6491eb0d32bc159a06471f9b7) (failed due to merge conflicts).

We found this feature super helpful as it provided visibility into why a Batch failed, as well as providing an audit trail when performing archeology on specific PR's journey through Bors and c

[2020-02-21 18:22] DilumAluthge commented on #882
I also found the merge conflict comments helpful.

[2020-02-21 20:18] noizwaves commented on #875
@notriddle Many thanks for the commit. We've been running this and may have detected another incident (attached are the logs).

We're still not 100% sure what to expect, but we were not expecting to see lines generated by `<0.387.0>` and `<0.388.0>` interleaved like this.

[bors-ng_2020-02-14_201143_2020-02-21_201143.log](https://github.com/bors-ng/bors-ng/files/4237868/bors-ng_2020-02-14_201143_2

[2020-02-21 20:28] notriddle commented on #882
This should still post such a comment when the patch [finally gives up](https://github.com/bors-ng/bors-ng/blob/ca6cbc190b5fe50a9309b60e7fc6aa4e8fecaf9e/lib/worker/batcher/message.ex#L65), right?

[2020-02-21 21:51] noizwaves commented on #875
After spending some time learning more about GenServer and process naming (from https://www.brianstorti.com/process-registry-in-elixir/), we are wondering if it would be valuable to use the `{:via, module, term}` name registration to prevent a second Batcher process from being started.

[2020-02-21 23:21] noizwaves commented on #875
@notriddle it looks like `{:via, module, term}` requires a "Registry" module as well, and that `BorsNG.Worker.Batcher.Registry` could already have all the required state to fulfill the contract :)

[2020-02-22 00:20] notriddle commented on #875
Yeah, I'd happily accept a pull request that switched it over to using that.

[2020-02-26 07:13] #205 closed

[2020-02-26 10:59] matklad opened #889 "Bors is dead right now :("
bors r+ does not work, and dashbord does not function as well:

![image](https://user-images.githubusercontent.com/1711539/75338675-6a95ef00-588f-11ea-9016-f0361d2bb207.png)

[2020-02-26 15:05] vext01 commented on #889
Same here.

There's also a forum topic open:
https://forum.bors.tech/t/bors-is-stuck/445

[2020-02-26 18:41] notriddle commented on #889
Uh, yeah. I found the cause.

Sorry about that.

[2020-02-26 18:41] #889 closed

[2020-02-27 14:56] miguelslemos opened #890 "Crash after merge #839"
Hi! Thanks for bors-ng.

After we pull latest version from Dockerhub(c308cf16bdfc46713baf30386e9e904517b20fea) we got `CrashLoopBackOff`

[code]

[2020-02-27 16:47] notriddle commented on #890
That's not us. That's GitHub's own server having trouble, as described on <https://www.githubstatus.com/>.

[2020-02-27 16:47] #890 closed

[2020-03-02 08:24] RalfJung commented on #783
I think I am [seeing the same problem in xargo](https://app.bors.tech/repositories/5730/log):
[code]

[2020-03-02 09:07] RalfJung opened #894 "Branch protection settings"
After a lot of searching I found the recommended branch protection settings for bors, somewhat hidden in a section titled "If it doesn’t work":

However, this "require commit status" has a very annoying side-effect: when opening a PR, even after local CI in that branch passes, GitHub considers the branch as "waiting for CI" and will not show a green checkmark. So, I think setting that option is no

[2020-03-02 09:34] jethrogb commented on #894
See #576

[2020-03-02 09:59] RalfJung commented on #894
The "bug in GH" link in that PR is dead, so unfortunately this does not explain anything.

What's wrong with enabling "Restrict who can push" and then disabling "Require status checks"?

[2020-03-02 10:07] jethrogb commented on #894
Here's the Internet Archive version: https://web.archive.org/web/20190214183904/https://platform.github.community/t/repositories-which-have-protected-branches-with-push-restrictions-have-no-ability-to-grant-push-rights-to-integrations/1376/56

Rust-lang/rust uses a [GH user named bors](https://github.com/bors). If you use this (bors-ng), there's only a GH app integration. GH users are have securit

[2020-03-05 17:00] roni-frantchi opened #899 "Why does bors close PRs instead of merging them?"
I used to use this one a few years back when it just started.
I had the recollection that back then, `bors-ng` actually used to merge PRs after a successful build on `staging`, not close them and then merge from `staging`.

Was wondering what's the idea behind that change of behavior @notriddle ?
And is there a way to make bors actually merge PRs instead of closing them

[2020-03-05 17:03] DilumAluthge commented on #899
Are you using the squash-merge feature of Bors?

[2020-03-05 17:04] roni-frantchi commented on #899
Yes I am. Is that what's causing it @DilumAluthge ?
Cause I actually would like to squash-merge. Why is it that it happens when using squash?

[2020-03-05 17:15] DilumAluthge commented on #899
Because of a current limitation in how GitHub works, if Bors squash-merges a PR, GitHub will not automatically recognize that the PR was merged. Therefore GitHub will not mark the PR as merged, and instead will leave the PR open. So Bors has to manually close the PR.

The GitHub API does not allow anyone to mark a PR as merged. Our only options are to mark the PR as open or mark it as closed.

If

[2020-03-05 17:16] DilumAluthge commented on #899
The options are:
1. Use the regular-merge option in Bors. Then PRs will be marked as merged (purple).
2. Use the squash-merge option in Bors. Then PRs will be marked as closed (red).

Unfortunately there is no way to fix this on the Bors end. It needs new functionality implemented on GitHub's end.

[2020-03-05 17:20] roni-frantchi commented on #899
Thanks for explaining @DilumAluthge .
Does that mean that if I were to turn off squash-merge on bors, it will fail to merge unless I change the following setting on GH?
![image](https://user-images.githubusercontent.com/3658029/76007055-1edde800-5f16-11ea-9a0a-03302e2fdcbe.png)

[2020-03-05 17:21] roni-frantchi commented on #899
I guess there's public API that will allow the same interaction as clicking that Merge button?. basically asking GH to Squash merge a PR?..

[2020-03-05 17:23] roni-frantchi commented on #899
Is [this API](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button) the one that's being used @DilumAluthge ?..

[2020-03-05 17:36] DilumAluthge commented on #899
We do not use that API.

The benefits of Bors is that the code on staging is exactly what master is fast-forwarded to.

If we used that API, we would lose that guarantee.

[2020-03-05 17:49] roni-frantchi commented on #899
@DilumAluthge
What would happen if bors would fast forward and merge exactly as you're doing right now when squash-merge is set, and only then you'd call that API?
Would it make GH mark it as merged without actually creating the commit? Create an empty commit?..
Or fail?..

[2020-03-05 17:55] DilumAluthge commented on #899
You'd end up creating duplicate commits. You'd have the commit Bors made, and then the commit from GitHub's "big green button" API.

[2020-03-05 17:56] DilumAluthge commented on #899
Or it would fail.

[2020-03-05 17:59] roni-frantchi commented on #899
If they're empty, maybe that's a fair alternative?. Obviously far from ideal, but possibly better than breaking all sorts of down stream events and automation due to PRs not being properly merged?..

I wonder if there isn't a way to guarantee no code changes slipped in if we were to use the merge button API...

[2020-03-05 18:16] DilumAluthge commented on #899
If there are duplicate commits, I don't think they would be empty.

In general, I don't think GitHub makes any guarantees about what happens if you try to click the big green button after you have manually squash-merged yourself.

[2020-03-06 19:59] RalfJung commented on #894
Actually I am beginning to seriously wonder what rust is doing. Because it looks like "Restrict who can push to matching branches" automatically includes repo admins no matter what.

@pietroalbini any chance you could share which settings the rust-lang/rust repo is using for branch protection to prevent anyone but bors from lading stuff?

[2020-03-06 23:53] pietroalbini commented on #894
We don't do anything special in rust-lang/rust, admins of that repository see the green merge button. We just avoid clicking it, and we didn't have many misclicks in the past.

[2020-03-07 08:27] RalfJung commented on #894
Oh I see. Well looks like there is no perfect solution then... :/

Maybe the issue could remain open to at least more clearly document the recommended branch protection settings? As I mentioned, I found it quite hard to find them.

[2020-03-07 10:56] roni-frantchi commented on #899
@DilumAluthge I ran the exercise of reopening the PR closed by bors and hitting the Squash and Merge button.
The end result was a duplicate, empty commit:

<img width="1007" alt="Screen Shot 2020-03-07 at 12 53 12" src="https://user-images.githubusercontent.com/3658029/76142069-cd973b00-6072-11ea-8510-7509153cbb1f.png">

<img width="961" alt="Screen Shot 2020-03-07 at 12 52 45" src="https://user-i

[2020-03-07 10:59] DilumAluthge commented on #899
That would be a question for @notriddle.

Personally I don't want my git history full of duplicate commits even if they are empty.

[2020-03-07 11:06] roni-frantchi commented on #899
Yeah, me neither @DilumAluthge .
But if I do have to pick my poison between:
1. Giving up squash merge and having `master` littered with merged commits
2. Having my PR history all showing as closed, and not triggering any downstream PR-merged hooks
3. Having a duplicate empty squash commit

I may consider choosing the latter

[2020-03-08 04:02] notriddle commented on #899
No, I don't think I'd approve an RFC for the third option. The empty squash commits don't seem any better than the merge commits.

[2020-03-08 04:02] #899 closed

[2020-03-08 12:56] deivid-rodriguez commented on #783
Exact same error again as the one I mentioned in https://github.com/bors-ng/bors-ng/issues/783#issuecomment-570892326 on a [recent rubygems PR](https://github.com/rubygems/rubygems/pull/3167).

[2020-03-08 13:00] deivid-rodriguez commented on #806
Just posting here to confirm that we seem to get this problem consistently when an PR from an external fork modifies github actions files themselves. We run into this again in https://github.com/rubygems/rubygems/pull/3167, which meets both conditions.

[2020-03-08 13:01] deivid-rodriguez commented on #783
The error we're getting now is slightly different from the original error I reported, so I'm going to close this in favor of #806, which seems like exactly the problem we've been running into lately.

[2020-03-08 13:01] #783 closed

[2020-03-11 17:39] ahlp opened #905 "Bors run don't Batch PRs after a failure"
Hello,
After update the bors, there is scenarios that it runs the PR without batching them.
All the runs don't have the `single` flag setted.
![image](https://user-images.githubusercontent.com/7283826/76445869-de162100-63a4-11ea-95df-79bd5e851749.png)

After fail the batch with 4 PRs, all PRs put in the queue after that are considered single runs.

Is this the correct behavior?
I was expecting it

[2020-03-13 18:14] vchuravy opened #906 "Ignore HTML comments from Github templates"
We are using a Github template with HTML comments to give guidance: See https://raw.githubusercontent.com/climate-machine/CLIMA/master/.github/pull_request_template.md

When bors creates a commit message https://github.com/climate-machine/CLIMA/commit/67dc0da452a63147a2980cdc3e7040f36be716f1 it leaves the HTML comments
in there instead of stripping them out.

Cut body after is only a limited fix s

[2020-03-13 20:26] leios commented on #906
I don't mind trying my hand at this, if someone can point me in the right direction. The only files I see that have to do with parsing files are: https://github.com/bors-ng/bors-ng/blob/master/lib/web/webhook_parser_plug.ex and https://github.com/leios/bors-ng/blob/master/lib/github/parse_owner.ex

[2020-03-13 22:17] notriddle commented on #906
You're probably looking for the [`Batcher.Message.generate_commit_message`](https://github.com/bors-ng/bors-ng/blob/1ba90cdbbcce6f9097635bd8741a3dc85c6146e3/lib/worker/batcher/message.ex#L106) function. It's not exactly a *parser* right now, because there's truly nothing to parse right now, though you might wind up refactoring it out into its own module if you're going to make it much more complic

[2020-03-13 22:19] leios commented on #906
I think we are just hoping to prevent anything between `` from showing up in the bors message

[2020-03-14 10:26] Undin opened #908 "Can't merge pull request"

[2020-03-14 10:30] Undin opened #909 "Can't merge pull request"
Hi!
We have some problems while merging of https://github.com/intellij-rust/intellij-rust/pull/5057
Bors crashes with the following error:

<details>

[code]

</details>

Looks like it fails because of `403 Forbidden` but it's weird - all other pull requests are merged successfully

[2020-03-15 20:31] #908 closed

[2020-03-18 22:02] marktran opened #912 "Bors crashes when updating commit status"
Hi, we've been seeing sporadic Bors crashes after issuing "bors r+".

The flow seems to be:

1. "bors r+" on a PR
2. CI runs and returns  _passed_ to GitHub
3. GitHub sends a webhook to Bors with "Build succeeded"
4. Bors tries to POST to GitHub, receives a 401 then crashes.

Here's the stacktrace:
[code]

Bors mostly works fine but we see this crash several times a day and have to `bors retry`. T

[2020-03-23 15:26] TomVasile commented on #912
we are also experiencing this

[2020-04-04 20:41] bryangingechen commented on #806
I think we're seeing a variant of this in https://github.com/bryangingechen/mathlib/pull/21; in this instance, the external fork PR doesn't modify the github actions files, but there's a commit in master that did, so a merge commit into `staging` or `staging.tmp` fails.

Since this "Resource not accessible by integration" problem seems to be relatively common, could I request that bors handle it w

[2020-04-05 17:08] francoisfreitag commented on #138
Rebasing using GitHub API has been solved by others https://github.com/tibdex/github-rebase.

[2020-04-06 20:46] charleskawczynski opened #926 "Update docs to include GitHub Actions example"
I think it would be useful to add a GitHub Actions example

[2020-04-07 12:38] jonasbb commented on #806
Github announced a [new workflow permission](https://github.blog/changelog/2020-04-07-github-apps-workflow-permission/). This might fix this problem.

[2020-04-09 14:32] hgrecco opened #927 "Automerging CHANGES"
I used bors a lot, and I find it very useful to do fire and forget merges. I just queue everything and let it merge and test, and merge and test, etc. The only annoying aspect is that sometimes I have to jump in to resolve conflict in `CHANGES`. This file just lists (in no particular order) the changes in the package and therefore resolving the conflict is trivial. It would be very nice to have a

[2020-04-14 05:40] leeopop commented on #189
Hi,
It's 2020 but I still have deprecated events from github.

![image](https://user-images.githubusercontent.com/3205589/79188977-8400f380-7e5b-11ea-97eb-fda1d0ffd4b1.png)

Why don't we provide renaming hooks for them?

I'm newbie to elixer, however adding renaming functions to `webhook_controller` did work for me.

[code]

[2020-04-14 05:46] leeopop opened #931 "Github keeps sending"

[2020-04-14 05:48] leeopop opened #932 "Github keeps sending "deprecated" events"
It's 2020 but I still have deprecated events so that bors cannot understand this (using bors-ng docker image)

![image](https://user-images.githubusercontent.com/3205589/79190265-d1329480-7e5e-11ea-8af2-061da91c1c6e.png)

I added following renaming functions and did work.

`webhook_controller.ex`
[code]
I think we'd better extend legacy events which were supposed to be ended in 2017.

Related
#189

[2020-04-14 08:29] #931 closed

[2020-04-15 23:01] #867 closed

[2020-04-15 23:27] casey commented on #867
@gebner Sweet, thank you!

[2020-04-17 20:35] SEAPUNK commented on #194
Considering https://github.com/bors-ng/bors-ng/pull/718 has been merged in (just maybe not documented that you have to set `use_squash_merge = true` in `bors.toml`), is this issue closeable?

[2020-04-17 21:31] DilumAluthge commented on #194
Yes this issue can be closed now.

@notriddle

[2020-04-17 22:10] vlad20012 commented on #194
I'd want a separate command like `bors squash` instead of a global option applied to each PR.

[2020-04-17 22:54] DilumAluthge commented on #194
The feature request as outlined in the original list of this issue has been implemented.

Just FYI, nobody is working on this. If you would like to add this feature, please make a request for comments (RFC) outlining the proposed change, and post it on the Bors forum: https://forum.bors.tech/t/about-the-draft-rfcs-category/291

Once your RFC has been accepted, you will need to implement the featur

[2020-04-22 12:19] cryslith commented on #856
This was fixed in #859, right?

[2020-04-22 12:42] cryslith opened #936 "use_codeowners doesn't support individual owners"
According to [GitHub's docs on CODEOWNERS](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners), a code owner can be either a team name or a username.  Bors doesn't support the latter.

[2020-04-22 13:23] cryslith opened #937 "Error on r+ when PR's fork has been deleted"
1. Fork repository
1. Create a PR from that fork
1. Delete fork
1. Comment `bors r+`
1. Bors errors out

This occurs because the `BorsNG.GitHub.Pr.from_json` function expects the JSON to match
[code]
but if the fork has been deleted then the JSON data is actually of the form
[code]

It is still possible to merge such a PR, so bors ought to handle this case.

<details><summary><strong>Example crash

[2020-04-22 14:24] cryslith opened #938 "use_codeowners treats rejections as approvals"
1. Create new pull request which requires a codeowner approval
1. codeowner rejects change in review
1. `bors r+`
1. bors incorrectly merges change

e.g. https://github.com/cryslith-test-org/test-bors/pull/4

This is because the `BorsNG.GitHub.Reviews.from_json!` function returns all reviewers in the `"approvers"` key, rather than only the reviewers who approved the change.

[2020-04-22 14:35] noizwaves commented on #856
@cryslith correct, closing this now

[2020-04-22 14:35] #856 closed

[2020-04-23 20:52] swist opened #941 "Bors treats @ghost as a real user"
When there is a path marked as owned by @ghost, it is supposed to have no code owner:

https://github.community/t5/How-to-use-Git-and-GitHub/CODEOWNERS-file-with-a-NOT-file-type-condition/m-p/31013/highlight/true#M8523

I have submitted #939 to make sure bors respects this setting

[2020-04-23 21:04] #938 closed

[2020-04-24 09:27] haampie commented on #422
Has this been implemented?

Currently when I do `bors try`, I see a tiny checkmark next to the generated commit in the `trying` branch, but I _do not_ see anything popping up in the checks section of the PR itself.

This is sometimes quite misleading, since CI may fail when doing `bors try`, whereas the latest commit in the PR itself has passing checks (e.g. github actions that pass). Now in the o

[2020-04-24 12:31] hgrecco opened #942 "Merge CHANGES files"
I have been using **bors** in many projects with great satisfaction. One of the major things that I enjoy is to devote some time to check all pending PRs, `bors r+` them (if they are ok) and forget. This reduces a lot the personal context switching.

However, there is one thing that frequently pops up: I have to resolve irrelevant merge conflict in the CHANGES. As you know the, CHANGES file (or si

[2020-04-24 22:59] #941 closed

[2020-04-24 23:01] notriddle commented on #942
Duplicate of #927

[2020-04-24 23:01] #942 closed

[2020-04-24 23:02] notriddle commented on #927
I like the sound of this, too (though actually implementing it without having bors clone the entire repo sounds a bit complex, but it should be possible using the Raw Git API, I think).

[2020-04-25 09:05] gebner commented on #927
I believe the proper git way of doing this is to set the merge strategy to union (we've done this in [Lean](https://github.com/leanprover-community/lean/blob/c59125c188468fb83ca95353376e1ce953b57a5e/.gitattributes)):
[code]

[2020-04-30 03:47] pksunkara commented on #852
I think it does. But [github merge api](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button) does not support fast forward which is a blocker.

[2020-04-30 19:09] Gordon-F opened #945 "Github Actions skipped build marks as failed"
Example: https://github.com/gfx-rs/wgpu-native/pull/13

[code]

Real status - skipped https://github.com/gfx-rs/wgpu-native/pull/13/checks?check_run_id=634306676

[2020-04-30 21:16] codysch opened #946 "when using github actions allow waiting for a workflow (or "check-suite") instead of a list of jobs"
When using github actions, it's common to have quite a few "jobs". As far as I can tell in current bors-ng, each of these "jobs" would need to be listed under the status key in `bors.toml`. It's also the case that if one uses job dependencies, some jobs may never run, meaning one must include all intermediate jobs in the status configuration, otherwise bors-ng will need to timeout instead of faili

[2020-05-01 23:34] heinrich5991 commented on #806
We got also hit by this in the https://github.com/ddnet/ddnet respository (I guess admins of the public bors instance could check out the logs there).

It seems to happen whenever we modify a GitHub actions script. It would be nice if bors didn't fail the whole batch in this case, but try binary searching the diff that work and reporting that they didn't on the other pull requests.

https://github

[2020-05-01 23:36] heinrich5991 commented on #909
Looks like a duplicate of #806. You can't merge pull requests that modify Github action scripts.

[2020-05-01 23:37] heinrich5991 commented on #806
@matklad Could you rename this issue to "Can't merge pull requests that modify Github actions"?

[2020-05-04 01:40] Veetaha opened #947 "Add api to send comments on behalf of bors"
I was wondering how I could use bors to send custom messages to PRs. For example I'd like to use it to notify developers when experimental builds fail on GitHub actions ci (since there is no other way to do it thu GitHub ui). I studied the Github API and it's implementation only impedes doing this. It requires generating one JWT (that expires in 10 minutes at max) and then creating another token (

[2020-05-04 21:50] joshma opened #950 "Using delete_merged_branches shouldn't delete if there are dependent branches"
I think there may be two issues here, but one is more important than the other:

1. Some engineers on the teams have dependent PRs out: master, feat-a, and feat-b, where feat-a is off of master and feat-b is off of feat-a. If feat-a is merged, delete_merged_branches=true causes bors to delete feat-a, which then causes an issue for feat-b. (GitHub closes the feat-b PR.)

2. Separately, we haven't a

[2020-05-08 09:44] h1zhao opened #952 "Bors does not set secure flag on its auth cookie"
I noticed that bors does not set the secure flag on its auth cookie. Is this a bug or something intended?

[2020-05-09 19:58] therealprof commented on #946
It's also a bit unfortunate that wildcards in status checks seem to mean "any random status" rather than **all** status.

[2020-05-12 06:04] jayzalowitz opened #954 "Bors still adding the commits for the user when squash merge is on"
Our bors.toml
status = [ "continuous-integration/travis-ci/push", "Community-TC (push)" ]
block_labels = [ "S-do-not-merge-yet" ]
cut_body_after = "<details>"
timeout_sec = 36000 # ten hours
use_squash_merge = true # squash merge should work

our version is 0.1.0

I would expect a single commit puer pull due to squash merge, but it instead lists a bunch of commits against the pull as well as a top

[2020-05-13 09:33] vext01 opened #955 "Public bors instance crashing?"
Hi,

We are currently having problems with bors crashing on one of our PRs:
https://github.com/softdevteam/ykrustc/pull/102

It seems to have crashed in the past, but now only responds to pings.

I would have posted this on the forums, but they seem broken?
![image](https://user-images.githubusercontent.com/604955/81796263-b8b8a700-94fc-11ea-9547-fac7dc4e5271.png)

Thanks

[2020-05-13 09:46] gebner commented on #955
This is because the PR is 1) from a fork, and 2) changes a file in `.github/workflows`.  See #806.

[2020-05-13 09:58] vext01 commented on #955
I see.

Github's documentation only covers adding the new permission for a user, whereas we need to add it for an organisation. I don't see any option to edit the permissions in that context.

![image](https://user-images.githubusercontent.com/604955/81798972-2e724200-9500-11ea-876c-e1c4d3c2a09a.png)

Any ideas?

[2020-05-13 10:02] vext01 commented on #806
I agree. Bors should comment on the PR saying something like "Insufficient permissions: I need the workflow permission".

Has anyone worked out how to add the permission to bors which is installed on a GH organisation (not a user)?

[2020-05-13 11:32] unicolet opened #956 "`patches_pr_xref_index` constraint error"
A few times a day we see the following error in our bors logs:

[code]

after some perusing of the postgres logs (where the conflicting IDs are logged) I suspect the error happens when a PR request is created and reviewer is assigned from the creation form.

In this case GH might send 2 events nearly at the same time which could cause a race condition in bors. I have tried looking at the source co

[2020-05-14 00:11] notriddle commented on #955
I've fixed the forum problem. The VM ran out of space.

[2020-05-14 09:14] vext01 commented on #955
Great, thanks.

I'm still stuck on how to add the permission to our organisation's Bors install. Any ideas? I fear I may need to reach out to github support.

[2020-05-14 10:05] ptersilie commented on #806
@vext01 From what I understand, the "workflow" permission can only be changed the maintainer of the GithubApp. We've just installed it so won't be able to change this settings. What is unclear to me is, once the permission has been changed by the maintainer, whether we need to approve that change, reinstall the app, or the change gets applied automatically.

[2020-05-14 10:09] bjorn3 commented on #806
https://developer.github.com/apps/managing-github-apps/editing-a-github-app-s-permissions/

[2020-05-14 10:23] vext01 commented on #955
@notriddle The new permission has been added to the bors app, right? Apparently we should get a notification and the ability to review the new permission.

[2020-05-15 10:19] vext01 commented on #955
I'm going to close this and take discussion to the forum.

[2020-05-15 10:19] #955 closed

[2020-05-15 12:16] longtimeago commented on #905
moreover, it looks like previously available approach (`bors r-`, `bors r+`) doesn't help either - PR is added in a separate run

[2020-05-16 09:12] kocoten1992 commented on #380
just want to say thanks, 5 mins could have been 2h for me :laughing:

[2020-05-16 18:49] #909 closed

[2020-05-17 09:44] unicolet commented on #905
I've spent a bit of time to familiarize with bors codebase and I'm beginning to think that the issue might have been caused by this line:

https://github.com/bors-ng/bors-ng/pull/839/files#diff-2969b4549f32c43c842acc6cdd64a94aL858

notice the PR removes the `limit(1)` clause, which means the query _might_ return more than one row. I tried adding a simple `Enum.take(1)` and it seems all tests still

[2020-05-17 22:39] heinrich5991 commented on #806
The problem seems to persist, even after adding the new Github actions permissions: https://github.com/ddnet/ddnet/pull/2185.

[2020-05-18 08:53] roni-frantchi opened #959 "REFUSED CONNECTION TO BorsNG.UserSocket"
Deployed a fresh build of bors today to Heroku, GitHub setup went fine and the app dashboard shows the repository just fine.
Running `bors r+` starts bors, but bors seem to do now push anything to the target bors branch.
The logs constantly show:
[code]

[2020-05-18 09:14] vext01 commented on #806
According to [this forum post](https://forum.bors.tech/t/bors-responding-to-ping-but-not-try-or-r/476/2), github apps aren't allowed to merge PRs that touch github actions.

[2020-05-18 11:57] unicolet opened #962 "Document how to run bors test locally"
I went through the process recently and I don't think it's documented anywhere so the least I can do is to document it

[2020-05-19 10:27] heinrich5991 opened #964 "Can't post on the forums"
I tried posting to https://forum.bors.tech/t/bors-responding-to-ping-but-not-try-or-r/476/5, but if I write my text and click "Reply" to confirm, it seems to work for a second, then an "Internal Server Error" message pops up and my post is greyed out (not seen when I reload the page).

I'm using Firefox 76.0.1.

[2020-05-19 19:56] notriddle commented on #964
I think I found the problem. Sorry about that; we were migrating to a newer version of PostgreSQL, and it kind of broke.

[2020-05-19 19:56] #964 closed

[2020-05-22 14:40] #905 closed

[2020-05-22 15:02] #962 closed

[2020-05-26 00:03] #194 closed

[2020-05-27 12:01] unicolet commented on #905
FYI we just deployed the change and so far bors appears to be batching as it should :crossed_fingers:

[2020-05-28 00:27] notriddle commented on #422
No, it hasn't been implemented

[2020-05-28 11:43] zegl opened #968 "Docker build is failing since 82a786a (terser-webpack-plugin Node.js version compatability issue)"
The Docker build with the default [Dockerfile](https://github.com/bors-ng/bors-ng/blob/master/Dockerfile) is failing since 82a786a was merged (#967).

The changelog for terser-webpack-plugin [v3.0.0](https://github.com/webpack-contrib/terser-webpack-plugin/releases/tag/v3.0.0) mentions that the minimum supported version of Node.js is now 10.13, while the Node.js version in the Dockerfile is specif

[2020-05-28 17:13] #968 closed

[2020-05-28 22:17] sirtimbly commented on #968
This issue is affecting Heroku deploys as well. Where does this need to be upgraded in the buildpack?

[2020-05-31 14:05] Veetaha commented on #436
Lol, you caught me, I stumbled upon this thing and only after reading this issue I realized I write `bros` instead of `bors`...

[2020-06-04 01:40] notriddle commented on #946
The problem is that it's hard to know what the full set of statuses actually is. To know that, bors would need to look at the config file itself.

The wildcard feature really only exists for the benefit of CI systems that randomly change part of the status report, with details such as the builder, branch name, or commit hash that ran.

[2020-06-04 09:14] carlos-granados opened #974 "Can't update Bors-ng in Heroku"
We set up Bors-ng using the "Deploy to Heroku" button in your Github readme. It has been working great for some time but now we would like to update our Bors-ng version to the latest version. I tried the instructions I found here https://f-a.nz/dev/update-deploy-to-heroku-app/ 1 (basically download the Github repo, add a new Heroku remote and push master to this remote) but I got a "Push rejected"

[2020-06-04 21:20] notriddle commented on #974
It might've been because of the broken NPM dependencies. If it still doesn't work, try clearing the [heroku build cache](https://help.heroku.com/18PI5RSY/how-do-i-clear-the-build-cache).

[2020-06-05 15:43] carlos-granados commented on #974
That (clearing the build cache) fixed the problem. Thanks!

[2020-06-05 15:43] #974 closed

[2020-06-09 16:50] carlos-granados opened #975 "Latest Bors-ng does not update statuses when CircleCI statuses update"
We have been using bors-ng since August 2018 but had not updated the version until very recently

We use CircleCI as our CI tool and there are 5 CircleCI jobs in our workflow that need to pass before we consider the build successful. These are defined in the bors.toml file:

[code]

The problem is that even those jobs finish correctly in CircleCI, bors-ng does not seem to notice this. It updates s

[2020-06-09 19:09] carlos-granados commented on #975
By slowly resetting our version of code I can say that the problem was introduced between merge #839 and merge #918. By looking at the changes between both versions I would say that the problem was introduced with merge #918 (branch `force-retry-status` ) as that is the only change in this period affecting statuses

[2020-06-09 20:40] carlos-granados commented on #975
I can confirm that this was caused by merge #918 of the branch `force-retry-status` by @notriddle, reverting that change fixes the issue for us

[2020-06-10 23:47] notriddle commented on #975
That pull request should only affect outgoing statuses, not incoming ones.

The problem it causes is probably related to the sleeping. If it makes responses take too long, it might be causing timeouts. So I've made a new version with a much shorter sleep gap. Can you try running with the [`timeout-hack-lower`](https://github.com/bors-ng/bors-ng/pull/976) branch?

[2020-06-11 10:53] carlos-granados commented on #975
@notriddle by deploying your changes I was able to get it to work as well as when I completely removed the change. But this (either completely removing the change or modifying to a shorter sleep) does not seem to fully fix the problem, it just alleviates it. I am still seeing the problem happen. The difference is that before I was seeing this in every merge and now I only see it every 3-4 merges,

[2020-06-11 15:19] carlos-granados commented on #975
Further testing shows that a shorter sleep does not really remove the problem it only makes it a little better, but worse than when the code is completely removed. These are my stats:

- With #918 applied: fails almost every merge (but not all)
- With #918 applied but a shorter sleep time: fails every 2-3 merges
- With #918 completely removed: fails every 4-5 merges

One thing to notice in case it

[2020-06-11 18:37] notriddle commented on #975
Are there any error messages in the dashboard logs area?

[2020-06-11 18:40] carlos-granados commented on #975
No errors in the logs

[2020-06-13 07:00] carlos-granados opened #977 "The front end should update automatically"
Currently when the front end detects that there are changes in the underlying data, it prompts the user to refresh the page. A better user experience would be that the front end updated the page automatically.

This should be designed so the the user does not accidentally misclick something when the page reloads unexpectedly

We could design the UI so that it only places new things at the bottom,

[2020-06-16 19:09] carlos-granados commented on #899
Since, in order to fix this, Github would need to implement something on their side (I guess that the option to set a PR as merged through the API), has this been requested by opening a ticket with Github?

[2020-06-19 00:59] andschwa commented on #525
There's been no movement on this issue for two years, and since I opened it, I'm going to close it 😉

[2020-06-19 00:59] #525 closed

[2020-06-19 08:26] carlos-granados commented on #975
I finally got to the bottom of this: the root problem was introduced in February when Bors-ng was updated to use SSL by default. When we originally defined the configuration in Github we used http URLs for the config. This meant that when Github was accessing the `/webhook/github` endpoint, bors-ng was performing a redirection to the https counterpart. In the cases where the update of the status w

[2020-06-21 09:18] RalfJung opened #979 "Remote branch staging.tmp not found"
I have now seen this issue twice recently, making bors CI fail. Is soemthing wrong with my setup? Looks to me like bors is doing something with the branches that Travis does not like:
[code]

This happened in PRs of https://github.com/freifunk-saar/ff-node-monitor/.

[2020-06-21 14:17] RalfJung commented on #979
Ah, I think I forgot to configure which branches have CI running and which do not.

[2020-06-21 14:17] #979 closed

[2020-06-24 20:44] #975 closed

[2020-06-26 14:36] RalfJung commented on #806
Wow, so GitHub basically makes it impossible to use an app like bors consistently for all PRs (which is exactly what bors is for)? I better don't migrate my bors-using repos to GHA then.

[2020-06-26 14:40] matklad commented on #806
TBH, for me personally bors + GHA feel like less maintenance than bors + {traivs,appveyor,azure} *despite* this issue. Though, I only migrate projects I actively develop. It certainly make the migration process itself more painful, as that is exactly when you edit actions :D

[2020-06-26 17:13] jonasbb commented on #806
Is this still a problem? After I accepted the change in permissions for the hosted bors instance, I can now r+ pull requests. For example: https://github.com/jonasbb/rust_misc_utils/pull/45

[2020-06-26 17:15] gebner commented on #806
It is (was?) only a problem for PRs from a fork.  If you make a PR from the same repository, then it works fine.

[2020-06-28 19:50] joshtriplett opened #980 "Editing comment with bors command generates "no need to approve it again" warning"
Steps to reproduce:

- Write a comment containing a bors command, such as `@` followed by `bors r+ rollup`, along with other text.
- Edit the comment (changing something other than the bors command).
- Get a warning saying "This pull request was already approved, no need to approve it again.", along with a second acknowledgement of the approval.

Bors should attempt to avoid treating an edit of a

[2020-06-29 08:09] roni-frantchi opened #981 "Usage with auto-approve bots like renovate-approve"
We're using [Renovate](https://github.com/renovatebot/renovate) to maintain our project's dependencies.
It has this nifty feature where once a PR is approved, it can merge it using a comment - like `bors r+`.
Combined with [Renovate Approve](https://github.com/apps/renovate-approve)'s ability to auto-approve certain versions (like patch versions), we wanted to have all these little patch version b

[2020-07-01 08:54] carlos-granados opened #982 "Bors-ng throwing 500 errors with '(CaseClauseError) no case clause matching: "neutral"'"
I am seeing some errors in the Bors logs. This is for a build using CircleCI and squash and merge

These are the logs:
[code]

[2020-07-01 19:48] notriddle commented on #981
Yeah, add the suffix `[bot]` to the user. For example, `renovate-approve[bot]`

[2020-07-02 06:29] roni-frantchi commented on #981
Thanks @notriddle .
I guess that can only be done by turning off the **Synchronize** option for reviewers though - as I cannot add `renovate-approve[bot]` to the list otherwise (I don't think I can add `renovate-approve[bot]` though GitHub, can I?).

[2020-07-03 18:12] notriddle commented on #981
Yes, you would have to turn off the synchronize option to do it.

[2020-07-05 07:02] roni-frantchi commented on #981
Thanks @notriddle .

Guess we can keep this issue as an enhancement request to allow to add bot users when using synchronize?

[2020-07-07 09:27] matklad opened #984 "When adding PR description to the merge comment, escape @mentions"
Github sends a notification if you are @mentioned in a commit message. This is unfortunate, because you'll get repeated notifications when the commit is rebased (or when you try several merges). Arguably, this is a bug in GitHub, but it seems like it's easier to fix this on bors' side, by escaping all `@mention`s

[2020-07-07 09:27] matklad commented on #984
cc https://github.com/rust-analyzer/rust-analyzer/pull/5235

[2020-07-22 05:46] lambda-fairy opened #987 "Squash commits should include co-authors from commits in the pull request"
In leanprover-community/mathlib#3448, one of the commits [has a `Co-authored-by:` line](https://github.com/leanprover-community/mathlib/pull/3448/commits/d08462b48d2777159ffc99aeea55476ba05f82f6). But this line is not included in the [squash commit](https://github.com/leanprover-community/mathlib/commit/dced34364276b7036dfe3cbe6b335d97405cc757).

I know that Bors already includes *authors* of the

[2020-07-22 11:34] bryangingechen opened #988 "bors crash when writing summary comment after pushing to master"
Batches 86529 and 86573 in https://app.bors.tech/repositories/24316/ both crashed right after pushing to master and before posting the summary comment.

The error messages in the logs are identical:
[code]

[2020-07-29 13:24] santiph opened #993 "Bors won't merge with all codeowners approval"
After all codeowners approved it, BORS will still claim some are missing.
Source branch comes from a fork.

Our theory is that bors is ANDing all the possible owners/teams per file. While Github is ORing them.
Therefore bors requires brewery to approve everything when the *-Rule is there.
Which is no visible nor required by Github to its UI

CODEOWNERS file:
[code]

affected files on the PR:
[code

[2020-08-01 00:12] matklad opened #994 "Bors misses commands if repository is moved"
I've moved matklad/ungrammar over to rust-analyzer  ungrammar, and that seems to confuse bors:

* it doesn't see comments on the new repo:

![image](https://user-images.githubusercontent.com/1711539/89089189-5d2fe400-d39c-11ea-8a8d-44f092d6c10a.png)

* but it sees PR on the old repo (PR was created after move):

![image](https://user-images.githubusercontent.com/1711539/89089211-79338580-d39c-11ea

[2020-08-04 00:06] #872 closed

[2020-08-10 00:28] CleanCut commented on #926
Yes, what is the magic incantation?  I can't get my status to match.

[2020-08-10 01:51] charleskawczynski commented on #926
I think the format depends on the type of job. As an example, here is a [bors toml](https://github.com/CliMA/CalibrateEmulateSample.jl/blob/master/bors.toml), and GHA yaml file which, IIUC, needs to match [here](https://github.com/CliMA/CalibrateEmulateSample.jl/blob/master/.github/workflows/Tests.yml#L10) and [here](https://github.com/CliMA/CalibrateEmulateSample.jl/blob/master/.github/workflows/

[2020-08-10 17:00] CleanCut commented on #926
@charleskawczynski Thanks! I've tried matching the entry to both the job (`tests:` in GHA -> `tests` in bors) and the name (`name: Tests` in GHA -> `Tests` in bors), neither of which have worked. 😢 Perhaps it would work if I removed the `name: Tests` entry from GHA and tried `tests` again in bors. That would be most similar to what you have.

[2020-08-10 17:17] CleanCut commented on #926
Aha! Someone pointed out to me that [GitHub apps (like bors) can't merge PRs that change workflows](https://forum.bors.tech/t/resource-not-accessible-by-integration/408/7).  If true, this would have saved me many hours of work if bors would have simply crashed with some error to that effect rather than crashing silently.  I'm going to try manually merging my setup and then see if bors will work on

[2020-08-10 17:36] charleskawczynski commented on #926
Sounds like another good thing to add to the docs. Perhaps this restriction generally makes GHA CI not very compatible with Bors.

[2020-08-10 18:25] CleanCut commented on #926
I don't see why it would make it incompatible, but it would definitely help to:
- Document that bors can't merge PRs that modify workflow files
  - Expose the error to the user if it crashes due to this situation
- Document a GHA example
  - Point out that the CI workflow needs to trigger for pushes to `staging` and `trying` -- I figured that out only by much reading through the docs
  - Point out

[2020-08-13 03:11] irfansharif opened #1001 "bug: bors doesn't handle unset commit statuses"
[Here's](https://github.com/cockroachdb/cockroach/blob/master/.github/bors.toml#L3-L19) the bors config we use over at https://github.com/cockroachdb/cockroach:

[code]

We observe this bug in bors that I think is due to racey conditions around its reliance on webhooks. If you look at https://bors.crdb.io/repositories/56/log, you'll sometimes find the following:
<img width="958" alt="image" src="h

[2020-08-13 03:16] irfansharif commented on #1001
I'm not sure what the right "fix" is. Perhaps we should check to see that the commit that's being used to generate the merge commit (aka the latest amended commit) is the same SHA as the commit whose commit status is being checked as part of the pr_status checks, and waiting for a bit until that information gets pulled in? (Apologies for the handwaviness, I'm not familiar with this code base).

[2020-08-13 03:55] irfansharif commented on #1001
Ok, I was mistaken. I'm pretty sure the problem is this:
https://github.com/bors-ng/bors-ng/blob/91628c3d6df7281bd1fe9181a71a1234da47a746/lib/worker/batcher.ex#L919-L921

Our CI takes a while to set the commit status, and if you look at https://github.com/cockroachdb/cockroach/pull/52757, bors ended up creating the merge commit for the first two attempts while the CI status was unset and only bloc

[2020-08-13 10:07] ZauberNerd commented on #993
Ping @notriddle have you had time to take a look at this?
We're seeing more and more of these issues, here's another log excerpt:
[code]
And for this PR the approving review came from the `@frontends/brewery` team, which should be able to overrule any codeowners, because of the `*` rule.

[2020-08-13 23:56] #1001 closed

[2020-08-18 22:22] irfansharif opened #1004 "bug: bors does not automatically try to run when all required PR statuses are set"
See https://github.com/cockroachdb/cockroach/pull/52991. I "bors r+"-ed the PR while the PR statuses were yet unset. Despite bors telling us that it would automatically retry, I don't think it did.

[2020-08-18 22:23] irfansharif commented on #1004
@notriddle: any ideas?

[2020-08-19 11:10] #993 closed

[2020-09-03 06:43] notriddle commented on #982
This is a bug in the [`WebhookController`](https://github.com/bors-ng/bors-ng/blob/f9dce726588bcb640bd8f876da12c71646b06bf4/lib/web/controllers/webhook_controller.ex#L274) handler for `check_run` events.

It's calling [`GitHub.map_state_to_status`](https://github.com/bors-ng/bors-ng/blob/b4e11a73dc41b1959d9079c2053f7a3861505e37/lib/github/github.ex#L394-L402) when it ought to be calling `map_check

[2020-09-03 06:47] notriddle commented on #984
This problem can be solved by adding a regex replacement to the [commit body generating algorithm](https://github.com/bors-ng/bors-ng/blob/f9dce726588bcb640bd8f876da12c71646b06bf4/lib/worker/batcher/message.ex#L143-L196). Most likely with a regex replacement line.

[2020-09-03 07:47] #932 closed

[2020-09-03 20:06] reynico opened #1022 "Selective CI statuses"
We use Concourse CI for the whole repo, but also Bitrise for mobile/iOS builds. Bors is currently set up to require Concourse to pass, therefore Bors ignores Bitrise results when a PR involves something about mobile code.

Would be nice to have a selective status setting. This is what comes to my mind right now for bors.toml:

[code]

[2020-09-03 21:22] #1004 closed

[2020-09-09 23:20] rvl opened #1027 "Handle HTTP 422 errors from GitHub"
Hi, we are getting "Cancelled" status and crashes when trying to merge a PR. It's a simple PR - single file changed, commit is GPG signed, no squash merges - nothing special.

What has happened is that bors-ng accepted the PR and attempted to merge, but GitHub rejected it due to absence of CODEOWNERS approvals.

I see multiple reports of this issue: #561 #674 #993 #725 #754. And I think @umamaiste

[2020-09-10 14:31] umamaistempo commented on #1027
:thinking:

Could you provide the stacktrace for that failure ?

[2020-09-11 06:23] rvl commented on #1027
Sure... 9/10/2020, 7:08:33 AM | Crash | batch

[code]

[2020-09-11 11:59] matklad opened #1028 "Add `bors squash` commands to squash a single PR"
Problem: some projects want to maintain a "clean" commit history on a best-effort basis. For example, for open source projects maintainers typically pay a lot of attention to crafting a good sequence of commits for a pull request, while less experience contributors often end up with "semanticless" merge and fixup commits. For this cases, it would be useful to merge one PR as is, and squash the oth

[2020-09-11 17:03] notriddle commented on #1027
Do you have the `required_approvals` setting turned on in your bors.toml file?

[2020-09-11 17:14] notriddle commented on #1028
Could you spell out why the `use_squash_merge` bots.toml option doesn’t solve your problem? And write this up in an RFC on the forum?

[2020-09-11 23:19] rvl commented on #1027
Yes. `required_approvals = 1` ([bors.toml](https://github.com/input-output-hk/cardano-node/blob/0dc6efa467a0fdae7aba7c5bcd5c657e189c8f19/bors.toml#L7)). As I understand, bors-ng will accept approvals from anyone, even if they aren't codeowners. We do wish to keep the github codeowners branch protection enabled.

[2020-09-12 06:31] notriddle commented on #1027
Okay, so you need to enable the `use_codeowners = true` option.

[2020-09-12 09:52] matklad commented on #1028
Submitted https://forum.bors.tech/t/rfc-bors-r-squash-to-squash-commits-in-a-specific-pr/509.

I want to squash some PRs, but merge others. Generally, `merge` is a good default for me, but sometimes I rather just squash a PR than ask the contributor to do a rebase. I've added this explanation to the RFC.

Also, I must say that writing an RFC caused me to think the feature through more thoroughly,

[2020-09-12 17:07] umamaistempo commented on #1027
The report here is mainly about no error message being provided by the bors agent on the PR, @rvl ?

If so, I am going to take a look at the code to see ensure that the message is provided, what do you think @notriddle ?

[2020-09-12 17:40] notriddle commented on #1027
Sure, go ahead.

[2020-09-13 01:15] rvl commented on #1027
Ah so there is an option - sorry for the report I honestly did check the documentation last week, but missed `use_codeowners`.

Perhaps generic "github rejected push" error handling would be good, in case there are new ways for the API request to fail.

[2020-10-02 11:05] jcommelin opened #1041 "co-authored-by: github username"
Thanks for bors! I love it.
Would it be possible to support github usernames in `co-authored-by:` lines? (In addition to "N. Ame <mail@example.com>")

[code]

Often I know the github username of my coauthor by heart, but I don't know their email address.
Also, github usernames are autocompleted in the edit windows.

[2020-10-02 13:51] tommilligan opened #1042 "Dashboard cannot be served over HTTP"
I have a use case at work to serve the `bors` dashboard at a HTTP endpoint (this is for the dashboard only - webhooks are still delivered to a HTTPS endpoint).

Using the official docker image, it is assumed the `PUBLIC_HOST` is always served over HTTPS (and delivers `301` redirects accordingly). This makes it impossible to expose the dashboard at a HTTP address.

[code]

This also makes it very h

[2020-10-02 16:27] dvic commented on #1041
We're running our own fork and changed the line below to just use `user.login`. I'm not sure if the Github API has a field for `co-authored-by` but if there is interest I could open a PR to expose the change to `user.login` for the `committer` field as an optional feature.

https://github.com/bors-ng/bors-ng/blob/d108a6cf8e2c5cdb2afa04b32b1e4e96d4376653/lib/worker/batcher.ex#L536

[2020-10-02 17:49] jcommelin commented on #1041
Would that also automatically fetch the email address? Or is it only an alternative to the name part?

[2020-10-02 18:04] dvic commented on #1041
No that part is only about the name, the email is left unchanged (you can see it on that line)

[2020-10-02 18:23] jcommelin commented on #1041
Aha, that's what I guessed from that line. How hard do you think it would be to auto-fetch the email address? Or is this something that isn't possible without special support from GH? Because it's those email addresses that I never know.

[2020-10-05 14:22] jamtur01 opened #1046 "Bors stuck in Pending - Running"
We have Bors deployed into Heroku (deployed last night so presume latest and greatest). We're using Github Actions for our CI.

Our problem is when we run `bors r+` it inconsistently executes actions, for example:

https://github.com/timberio/vector/pull/4380

![image](https://user-images.githubusercontent.com/4365/95091228-31aadc00-06f4-11eb-8050-f70ed6ddbf97.png)

But no action is running - http

[2020-10-16 16:52] bryangingechen opened #1058 "confusing error message when approving a closed PR"
bors seems to comment with "Already running a review" when a closed PR gets approved, instead of something like "Cannot merge a closed PR".

See the sequence of events [starting here](https://github.com/leanprover-community/mathlib/pull/4542#event-3887208386).

[2020-10-20 16:01] curquiza opened #1061 "Matching regexp in status"
Hello,

I use Bors and the GitHub actions. I have a GHA file that runs 3 similar tests (for different versions of PHP) with `matrix`:

[code]

It means I launch 3 tests: `PHP 7.2 Test` `PHP 7.3 Test` and `PHP 7.4 Test`.
I wanted to use the pattern matching of the `status` field to match every `PHP ... Test`.

I tested:
- `status = ["PHP % Test"]`
- `status = ["PHP _._ Test"]`

But none worked.
Bor

[2020-10-20 17:01] notriddle commented on #1061
Wildcards are not going to be a solution to this problem. There's no way for bors to know what the full list of statuses *actually are,* since, under the hood, GitHub is probably creating each individual status in a separate transaction\*.

What might work would be to tie this to the [Check Suite](https://docs.github.com/en/free-pro-team@latest/rest/guides/getting-started-with-the-checks-api), ins

[2020-10-20 17:30] curquiza commented on #1061
Hello @notriddle!
Thanks for your quick answer! I now know this is impossible to use wildcard in this situation with Bors.
I close the issue then.
And thanks for building and improving Bors, we are using it in our main repo, and now we are setting it up for all our other repos!

[2020-10-20 17:30] #1061 closed

[2020-10-28 23:43] bryangingechen opened #1067 "bors crashing with "Cannot change the base branch of a closed pull request""
Our last two successful batches https://app.bors.tech/batches/103617 and https://app.bors.tech/batches/103572 crashed with the following (identical) error after merging the commits into master:

[code]

The earlier batch https://app.bors.tech/batches/103572 consisted of the following 6 PRs:
- leanprover-community/mathlib#4804
- leanprover-community/mathlib#4803
- leanprover-community/mathlib#4789

[2020-10-29 00:35] #1067 closed

[2020-10-29 02:12] bryangingechen commented on #1067
Thanks for the quick fix! The next batch https://app.bors.tech/batches/103640 completed successfully without crashing! ❤️

[2020-10-29 03:22] rvl commented on #456
This is sort of addressed by #839. You can set batch size 1 for a single PR by merging with:

[code]

But AFAIK there is no `bors.toml` setting to configure the repo default.

[2020-10-29 15:08] David-Vaknin-Vcita opened #1070 "Are we allowed to modify the source code to allow private repo?"
Hi,
We are planning to use Bors in our private repos inside our organization.
This product is great and meets our needs; we'd like to understand if this change is allowed to fork this repo and change the code.

I really appreciate any help you can provide.

[2020-10-29 16:25] notriddle commented on #1070
Of course you can. It's licensed under the Apache-2.0 license, which permits any modification you like.

[2020-10-29 16:25] #1070 closed

[2020-11-01 09:26] David-Vaknin-Vcita commented on #1070
Great thanks a lot for your quick response.

[2020-11-05 18:27] #1042 closed

[2020-11-16 09:55] nomeata commented on #422
As a user that migrated from mergify to bors, I'd like to report that this would be a noticable improvement in usability.

[2020-11-19 19:44] zli-simspace opened #1085 "A failing check_self can kill the GenServer"
I'm seeing periodic restart in our (private) Bors server. A number of them are preceded by a failed `self_check``

[code]

I know the self-check error itself is normal but from the timestamps, it does seem to be the trigger for the Bors restart. It could still be a number of other things though.

Sometimes, before the last line indicating a restart, there's also

[code]

I came across this as I'm

[2020-11-19 20:56] notriddle commented on #1085
I would try to track down why the self_check is failing in the first place.

[2020-11-23 21:07] njasm commented on #1046
I'm trying out bors and having the same problem.

[2020-11-24 22:52] basvandijk commented on #1085
I have the same problem with my private bors instance. Many people in our org issue a `bors merge` before the required `pr_status` has been received causing bors to comment the expected:

However, after the required `pr_status` has been received bors doesn't batch the PR for merging. Instead we have to issue another `bors merge` after bors does successfully batch the PR.

I also see many `BorsNG.W

[2020-11-25 14:32] zli-simspace commented on #1085
@notriddle does the Registry crash often? I see a lot of `check_self` errors in our logs but not all of them result in a reset.

(I'll look into this more but may be a while before I can seriously dig into it.)

@basvandijk Do you also see a `Access BorsNG.Endpoint at` in your logs in these cases? The `check_self` error itself shouldn't make it need a second `bors merge`, only the Bors server rest

[2020-11-25 15:04] basvandijk commented on #1085
Yes I'm seeing the following around 10 times per day:

[code]

I also get many complaints from our users that after the `Waiting for PR status` message from bors their PRs are stuck and the only way to unstuck them is to issue another `bors merge`.

[2020-11-25 15:10] basvandijk commented on #1085
Actually the previous was a bad example because it didn't include the failing `check_self`. Here's the most recent failure from my log which does include a failing `check_self`:
[code]

[2020-11-30 12:09] RalfJung opened #1092 "How to figure out "status" name?"
So set up bors, I need to configure the "status" bors is watching. How do I know which value to put there? So far I always just copied this from elsewhere, but now we migrated to travis-ci.com (from travis-ci.org) and I don't know how to figure out the name of that status. Is it shown anywhere in the GH UI?

The docs at https://bors.tech/documentation/getting-started/ just lust a few examples, but

[2020-11-30 12:46] RalfJung commented on #1092
Looks like for travis-ci.com, it's "Travis CI - Branch". That's the name that is displayed when clicking the little CI status dot on a commit. However, for travis-ci.org the name was "continuous-integration/travis-ci/push", which is not the thing that was displayed, so I am not sure if I was just lucky here.

[2020-12-02 01:54] dieend commented on #1085
We encounter this fairly often in our private fork:
![image](https://user-images.githubusercontent.com/1404443/100818044-33e09c80-33fe-11eb-8df5-3341924bf9a9.png)

[2020-12-03 18:18] notriddle commented on #1085
Can you try merging https://github.com/bors-ng/bors-ng/pull/1093 into your private fork? I'm not sure if this is the cause or not, but it seems plausible that it is.

[2020-12-04 00:54] dieend commented on #1085
@notriddle May I get an understanding of why we want to delete/cancel all waiting/running batch?

In our private fork, we intentionally comment the cancel part out because it's such a hassle when it crashed and 10s of PRs get canceled and there is no trail of what PRs are being canceled. There are cases where our user left a PR for 2 days after "bors r+" not realizing that their PR was still not m

[2020-12-04 02:27] notriddle commented on #1085
It's difficult to be sure which batch caused it to crash, and we don't want to crash loop. If an Erlang supervisor detects that it's restarting a process too quickly, it will fire a circuit breaker and crash the entire application.

You'll also want to make sure that you cherry-pick the `if names[project_id] == pid` part. That's to ensure that, if two instances wind up running at the same time, th

[2020-12-08 17:58] jswrenn commented on #1092
I'm currently butting against this with Github Actions.

[2020-12-08 18:52] dieend commented on #1085
I tried cherry-picking #1093 and deployed it to our private instance but the error + restart is still happening.

[2020-12-08 19:17] RalfJung commented on #1092
For GHA it's more tricky since there is one "status" per job or whatever they are called. You'll [need something like this](https://github.com/rust-lang/crater/blob/9ab6f9697c901c4a44025cf0a39b73ad5b37d198/.github/workflows/bors.yml#L125-L149). Miri then sets the status name to "bors build finished" (that's for Rust's homu, which is different from bors-ng, but hopefully they look at the same "stat

[2020-12-08 22:53] notriddle commented on #1085
@dieend Okay, try applying https://github.com/bors-ng/bors-ng/pull/1097 to your version and see if that helps.

[2020-12-09 08:42] RalfJung opened #1098 "bors ignores all commands"
For some reason, bors is not reacting to commands any more in the xargo repository. Examples:
* https://github.com/japaric/xargo/pull/306
* https://github.com/japaric/xargo/pull/307
* https://github.com/japaric/xargo/pull/308

Nothing shows up in https://app.bors.tech/repositories/5730/log. One of the still-open PRs it not even listed in https://app.bors.tech/repositories/5730. Pressing the "sync"

[2020-12-09 16:53] notriddle commented on #1098
It looks like the installation ID changed for some reason. The old Installation ID is `88699`, while the new one is `13406157`.

I've fixed japaric's setup, so all the repos are on the new one.

[2020-12-09 16:53] #1098 closed

[2020-12-11 07:30] dieend commented on #1085
@notriddle hi, I deployed #1097 to our cluster, the server seems still being restarted.

Here is how the log looks like when it happened. All the terminating errors are caused by check_self, but as you can see it doesn't always end up as restarting the cowboy.
![image](https://user-images.githubusercontent.com/1404443/101875172-0652cc00-3b3f-11eb-9e31-9b76ba73a7f1.png)

Also, there is a crash log

[2020-12-11 16:52] notriddle commented on #1085
Does it always happen right after a Postgrex connection error like that?

[2020-12-12 03:41] dieend commented on #1085
@notriddle That looks like the case. We only have logs for the last 2 days, so at least since I picked #1097 it always has Postgrex connection error.

[2020-12-12 05:08] notriddle commented on #1085
Okay, so two questions:

1. What’s your POOL_SIZE environment variable set to in bors?

2. What’s your max_connections set to in postgresql?

[2020-12-15 18:15] browdus commented on #950
This is even more painful than it otherwise would be because it leaves the dependent PR (`feat-b` in the original example) in an unrecoverable state. The PR can't be opened because the base branch has been deleted, and the base branch can't be changed because the PR is closed.

[2020-12-16 20:55] berkowitzi commented on #950
Looks like this is solved by #1023 !

[2020-12-18 03:53] asomers opened #1106 "constraint error when attempting to insert struct: unique: statuses_identifier_batch_id_index"
I just converted nix-rust/nix's builds from Travis to Cirrus, and now bors crashes whenever I try to merge a PR.  Here's the crash message:
[code]
https://app.bors.tech/repositories/96/log

I can't make anything of this.  Could you please help?

[2020-12-18 06:08] notriddle commented on #1106
“Linux s390x” is in your list, twice.

The error message sucks, but this is invalid.

[2020-12-18 14:46] asomers commented on #1106
Wow, thanks for decoding that for me!

[2020-12-24 06:10] bryangingechen opened #1109 "bors batch stuck on "Waiting to run""
This batch has been stuck on Waiting to Run for several hours: https://app.bors.tech/batches/114772

Is there something we can do to get it running again?

[2020-12-24 07:14] #1106 closed

[2020-12-24 07:15] notriddle commented on #1109
https://github.com/leanprover-community/mathlib/pull/5479 is the other problem-causing pull request, because it's trying to merge from a deleted repository.

[2020-12-24 07:17] bryangingechen commented on #1109
Thanks for looking into this! I've closed that PR and I'll put the other ones back on the queue.

[2020-12-24 07:20] notriddle commented on #1109
Essentially, to solve this the right way, we need to patch bors so that `lib/github/github/pr.ex` can successfully parse a PR with a head.repo = nil

[2020-12-25 15:39] dima74 opened #1111 ""Build succeeded" when all tests failed"
Hi!
We have [this pull request](https://github.com/intellij-rust/intellij-rust/pull/6558) merged by bors, though looks like that bors shouldn't merge it, because tests actually failed. Here is ["build succeeded" message](https://github.com/intellij-rust/intellij-rust/pull/6558#issuecomment-751242039), but if you click on `check` workflow link, we can see that almost all tests actually failed.

[2020-12-25 15:56] Undin commented on #1111
I suppose a little bit more correct question is "Why bors merged PR if the corresponding [check](https://github.com/intellij-rust/intellij-rust/runs/1608503639) was canceled (because some previous steps failed)?".
See [status settings](https://github.com/intellij-rust/intellij-rust/blob/18891f4fa3f3d072f29d28c095b4d9e221c495c3/bors.toml#L1-L3) in our `bors.toml`

[2020-12-25 16:19] notriddle commented on #1111
I bet https://github.com/bors-ng/bors-ng/pull/1110 it’s what does it. It should be marked as a failure condition, then?

[2020-12-25 17:23] Undin commented on #1111
@notriddle Thanks for quick response!
Actually, I think both `ok` and `error` statuses are wrong here because the status of the whole workflow run depends on status of each job in the workflow. For test purposes, I slightly modified our current workflow in my own fork to skip the latest job if everything is fine in dependencies - https://github.com/Undin/intellij-rust/actions/runs/444320109. As yo

[2020-12-26 06:09] notriddle commented on #1111
It’s not possible right now. I agree that a feature like that is desirable, but I guess “skipped = error” is the most correct choice for the case where a step that you specifically named was canceled.

To get what you actually want, you need to name the entire workflow, instead of just naming the individual step. Backwards compatibility mandates that the current setup needs to work, and since your

[2020-12-26 06:12] notriddle commented on #1111
See also: https://github.com/bors-ng/bors-ng/issues/946

[2020-12-26 06:31] #1111 closed

[2020-12-28 15:05] jswrenn opened #1115 "Build Failed, when all tests pass."
For the past three weeks, [itertools](https://github.com/rust-itertools/itertools) has used bors with github actions (see [bors.toml](https://github.com/rust-itertools/itertools/blob/master/bors.toml) and [ci.yml](https://github.com/rust-itertools/itertools/blob/master/.github/workflows/ci.yml)). It's worked fine, until this: We `bors r+`'d [a PR](https://github.com/rust-itertools/itertools/pull/4

[2020-12-28 17:15] notriddle commented on #1115
It is. You have two different checks with the same name, one of which is skipped (which is considered a failure).

It can actually be pretty easily fixed. Get rid of `end-failure` and the problem will go away.

[2020-12-31 00:55] dieend commented on #1085
@notriddle we use pgbouncer with 10 pools with standalone RDS behind it. The maximum connection should be high enough for all of it.

I ended up making this to fix it: https://github.com/bors-ng/bors-ng/pull/1116

[2020-12-31 17:16] #1085 closed

[2021-01-05 03:43] vb-cs commented on #1115
@notriddle Having a problem with this too. When I [bors r+](https://github.com/rchain/rchain/runs/1646752169) a [PR](https://github.com/rchain/rchain/pull/3281) all of the checks pass, but bors reports that the build failed despite the build finishing in the linked run. I tried removing both of the failure checks, but bors gave the same result. Since then, I have undone the changes I made to the C

[2021-01-05 04:21] notriddle commented on #1115
You need to merge the staging and trying steps into one step, like:

Otherwise, you still have two tasks with the same name.

[2021-01-05 15:14] vb-cs commented on #1115
This resolved it. Thanks! For anyone else having issues with this, I removed all end-failure checks while also merging the success checks into one. At the end, I had only 1 check with the name 'bors build finished'.

[2021-01-08 03:58] bryangingechen opened #1120 "feature request: display delegated PRs in a separate section"
This would make it easier to track those PRs.

[2021-01-09 01:36] lzutao opened #1121 "bors falsely failed despite of all CI checks are green"
The problem is in a PR: https://github.com/xdg-rs/dirs/pull/48#issuecomment-757071387

All the CI checks are green, but bors told that "Build failed".
This could be a GitHub API error, although I'm not sure.
The `bors.toml` of the repo located at https://github.com/xdg-rs/dirs/blob/master/bors.toml

I'm happy to answer further questions about CI configuration if it could help.

P/S: I was going to

[2021-01-09 02:18] notriddle commented on #1121
Duplicate of https://github.com/bors-ng/bors-ng/issues/1115

[2021-01-09 02:18] #1121 closed

[2021-01-12 19:54] kamalmarhubi opened #1124 "Check for runs by tree hash to avoid testing the same repo contents again"
There are a few ways this can happen, and it's annoying to wait for a full run in all cases:
- amend to fix a typo in the commit message
- rebase to reorder commits with the same final state
- testing a merge commit when the branch being merged is fully up to date: if CI runs when the PR is opened, then we shouldn't need it to run again against that merge

[2021-01-13 18:04] browdus opened #1125 "Feature: preview permission sync results"
I recently locked myself and others out of the bors repository configuration by pushing "Update" on the settings page. It would be really nice if we could preview the results of a permissions synchronization before committing it. Bonus points for a "you are about to remove your own permissions" type warning.

[2021-01-14 13:56] basvandijk opened #1127 "Bors rejects approved PRs that touch files owned only by individuals"
In my project some files are owned by teams and some by individuals. Sometimes fully approved PRs are still rejected by bors with a:

It turns out these PRs touched files owned **only** by individuals. Bors seems to [only take team ownership into account](https://github.com/bors-ng/bors-ng/blob/5f899a527ea69feda2ebf9c7442281245038b0a6/lib/worker/batcher.ex#L1009:L1033) thereby rejecting individual

[2021-01-14 23:55] quicksnap commented on #803
We were snagged by this. Silent failure when we had CODEOWNERS in root. Easy enough for us to move, though!

[2021-01-15 21:16] RalfJung opened #1129 "bors says "build failed" when actually it succeeded"
I approved the PR at https://github.com/japaric/xargo/pull/310 and, as far as I can see, all the CI jobs are working correctly. Still, bors rejects the PR and says "build failed".

The link that it posts, https://github.com/japaric/xargo/runs/1711177465, goes to the skipped "ci" job. But it should just ignore that one and use the passed "ci" job. These two "ci" jobs are, I think, necessary with GH

[2021-01-15 23:54] notriddle commented on #1129
They aren't.

Bors-NG used to have a bug where it would fail to process skipped jobs. This gave the appearance that they were being totally ignored, but since it was actually giving a 500 result, it would cause the background polling task (which usually doesn't kick in, but sometimes is necessary) to totally fail and lock up the entire pipeline.

Bors considers the "skipped" task a failure now, in

[2021-01-16 00:04] notriddle commented on #1129
Honestly, if I'd realized there were tons of people copying this workflow hack from the rust-lang/\* repos (because homu apparently *does* totally ignore skipped jobs), I probably would've fixed the bug by making them get skipped as well.

But now the change is already made, and reverting it wouldn't be much better than forging ahead. And ignoring skipped jobs really does seem fragile.

[2021-01-16 00:05] RalfJung commented on #1129
Okay. I don't understand why the skipped job exists in the first place (it exists for the homu-bors that rustc is using, no idea why), so removing it works for me.^^ Thanks!

From my naive perspective, "skipped" means "please ignore / pretend it doesn't exist" -- that's what distinguishes it from "failed". But I am also a total GHA noob.

[2021-01-16 00:58] notriddle commented on #1129
I don't generally like having "ignore this result" logic in bors-ng, because that seems like it'll wind up resulting in timeout failures. Nobody likes timeout failures, because they take a half hour to be reported.

[GitHub Actions](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions) says

So, the meaning of "skipped" seems to be "prerequisite not met."

An important p

[2021-01-16 21:45] bryangingechen opened #1130 "bors said "Canceled" after a commit was pushed to a PR on the queue, but then tried to merge it anyways"
See the sequence of events starting just before this comment: https://github.com/leanprover-community/mathlib/pull/5672#issuecomment-761586085

The failure that occurred [here](https://github.com/leanprover-community/mathlib/pull/5672#issuecomment-761679567) was Batch 119110.

[2021-01-17 02:15] #637 closed

[2021-01-18 10:02] lukash commented on #1092
+1. The documentation should say how to find out the correct value, not just list a few examples.

[2021-01-20 19:51] #1127 closed

[2021-01-26 10:54] asbach opened #1135 "Crash on webhook check_run cancelled: no cause matching: "cancelled""
It appears as if bors is not able to handle a check_run status of `cancelled`:

       10:48:23.622 pid=<0.2102.0> [error] #PID<0.2372.0> running BorsNG.Endpoint (cowboy_protocol) terminated
       Server: <hostname>:80 (http)
       Request: POST /webhook/github
       ** (exit) an exception was raised:
           ** (CaseClauseError) no case clause matching: "cancelled"
               (bors) lib

[2021-01-26 18:09] #1135 closed

[2021-01-27 10:30] eric-wieser opened #1137 "Github check link is visible only to maintainers"
If I look at a PR that bors is building like https://github.com/leanprover-community/mathlib/pull/5918, the github check link goes to https://app.bors.tech/repositories/24316/log#batch-120274

However, if I click this link, I get the plaintext response `Permission denied`.

If I manually edit the URL to https://app.bors.tech/repositories/24316, I can get to a useful page.

My questions then are:

[2021-01-27 10:38] eric-wieser commented on #1137
It looks like the relevant lines are:

https://github.com/bors-ng/bors-ng/blob/bbf4bb6f6a5761807a1b02f24de62ceb6b0f3169/lib/web/controllers/batch_controller.ex#L24-L42

It's not clear to me why a read-only mode would result in the page not being readable.

[2021-01-27 12:10] asbach opened #1138 "PR status wait does not cancel the build on new commits/stale review"
We are using the following bors config:

        required_approvals = 1
        up_to_date_approvals = true
        status = ["continuous-integration/jenkins/branch"]
        pr_status = ["continuous-integration/jenkins/pr-merge"]
        block_labels = ["do not merge"]
        timeout_sec = 3600
        delete_merged_branches = true
        use_squash_merge = true
        use_codeowners = true

W

[2021-01-29 13:19] nmattia opened #1140 "List missing statuses when "Waiting for PR status""
I often see this:

And it's not always clear what status exactly is missing. We often change the statuses that are required for merge, so it's not always clear if a status is actually missing or if bors is stuck waiting for a status that's already there. Have a list of which statuses are missing would be great for clarity.

[2021-02-01 08:05] bjorn3 commented on #138
Rather than squashing would it make sense to just have an option to avoid using an octopus merge and instead use separate merge commits for each PR? This is what homu uses and allows preserving the PR history without the problem that for octopus merges it is harder to revert just a single PR.

[2021-02-01 17:33] jmesmon opened #1141 "If a users defines 2 github actions checks with the same name, bors-ng may try to merge before both are complete"
Basically:

both `.github/workflows/a.yml` and `.github/workflows/b.yml`
[code]

With a bors.toml specifying `Duplicate` as a required status, bors-ng will try to merge when _either_ of the `a::Duplicate` or `b::Duplicate` are completed.

I noticed this because it contrasts with the behavior from github's branch protection, which requires both to complete. In my case, this resulted in a badmatch c

[2021-02-01 18:42] notriddle commented on #1141
It hasn't been fixed. Fixing it would require a huge redesign, but the better way to solve it would be to allow you to specify the workflow name (instead of just specifying the name of the job).

[2021-02-01 19:37] nairb774 opened #1143 "Adjustable poll_period in BorsNG.Worker.Batcher"
We run our own instance of Bors-NG (thanks!) as part of our GitOps pipeline to make sure that configs are valid before trying to deploy them. The tests are designed to run quickly (60-90s tops). Sometimes the Github webhook is missed[1], it can take a long time for Bors-NG to realize that the merge can be completed. It looks like Bors-NG has a hard-coded 30 minute backup poll here:
https://github.

[2021-02-01 22:57] notriddle commented on #1143
Sure, that would be possible.

That would also be *possible*, but I wouldn't want to allow it to go any lower than five minutes. GitHub will rate-limit us, and we don't want to risk the possibility that one project's indiscretion breaks the public instance for everyone.

[2021-02-02 01:18] nairb774 commented on #1143
I would be ok with any solutions reserved to an admin. I run my own instance, with my own app. So if you only want to make it an env var/config file I'd be ok with that. I can understand the desire or need to limit this on the public version, so whatever allows you to thread that needle I would greatly appreciate.

[2021-02-10 10:17] swist commented on #1130
Was there another branch that contained this commit that was also in the queue?

[2021-02-10 14:24] bryangingechen commented on #1130
I don't think so.

It looks like what happened was a merge commit [4c62797](https://github.com/leanprover-community/mathlib/pull/5672/commits/4c62797c80a56eeb0b7179f9b38ea9b306d3562a) was pushed to that branch and bors said "Canceled" in the comment linked above. However for some reason, it didn't actually remove the PR from the queue, so the PR ended up in the staging commit [6167e65](https://git

[2021-02-10 14:47] tiagolobocastro opened #1150 "Occasional Crash over “Required status check”"
Hi,

We use bors.tech with our github and occasionally we see a crash:
[code]

That `commmitlint` is indeed a required status, though not sure why it's causing the crash.
Not sure if related to this or not but we've also observed that sometimes the PR's get stuck and we have to rebase, force push and retry, though since the crash does not mention a specific build/pr not sure how to correlate those

[2021-02-10 15:02] jkryl commented on #1150
I have the same problem (on the same project). It happened in the second run of tests when bors was trying to bisect commits. The second run on subset of PRs passed and therefore the PR should have been merged but bors crashes instead. Of course the commitlint check passed so even the message about required status check is wrong.

[2021-02-10 23:00] kamalmarhubi commented on #578
This may not be relevant anymore? See any recent PR to this repo, eg https://github.com/bors-ng/bors-ng/pull/1147

![image](https://user-images.githubusercontent.com/50936/107584079-d8831580-6bc9-11eb-8eee-64b002c591fc.png)

[2021-02-10 23:39] kamalmarhubi opened #1151 "Make it possible to revert a single PR from a batch"
When bors merges a batch of PRs it becomes painful to revert a single one. The revert link Github adds to such a PR currently results in a 500. Eg see the revert link on #1073 or #1076, which were merged as part of a batch in 69dc5d1.

Right now, I think the only way to revert a PR merged this way is to do the revert in the command line. This is especially annoying if there's more than one commit

[2021-02-10 23:42] kamalmarhubi commented on #1151
I don't know how easy this will fit into the architecture where bors relies on GitHub's API for most (all?) git operations.

[2021-02-11 10:56] asbach opened #1152 "bors-ng silently discards all batches on GitHub 422 errors"
We have observed the following bors-ng behavior running on our own bors instance:

Crash log in bors:
[code]

In this particular case, the target branch is has the required reviews set, but this particular branch shouldn't be used with bors anways, so that part is not what I'm worried about, I would say working as intended.

The issue that is actually a problem is that bors will silently drop all

[2021-02-14 07:56] #803 closed

[2021-02-16 23:49] nlewycky opened #1157 "reuse 'bors try' results for 'bors r+' if they are still current"
It would be nice if `bors r+` could detect that it's testing a single PR to a branch that's still at the same rev as it already tested in a previous `bors try` and reuse results, or wait for the same test runs if testing is in progress.

Use case:
The main branch is broken and there's a PR going in to see whether we can fix CI. We use `bors try` and watch the logs to see if it fails on CI. Once it

[2021-02-18 01:27] #1129 closed

[2021-02-19 20:18] DJMcNab opened #1163 "Only use [Merged by bors] if the delete_merged_branches is on"
`[Merged by Bors] -` is added to the PR title if you use a squash merge unconditionally.

https://github.com/bors-ng/bors-ng/blob/00a9c17725a91ec6a22f3538c2183d43fb690200/lib/worker/batcher.ex#L723-L729

However, this is only (usefully) read when `delete_merged_branches` is enabled and the PR is from the same repository

https://github.com/bors-ng/bors-ng/blob/f5dc2d7b5a3a1fc6cdc935898cc02309b8515

[2021-02-24 13:57] skorokithakis opened #1168 "CODEOWNERS matches more directories than it should"
Our CODEOWNERS file has the following syntax:

[code]

If a file `/foo/barbaz/somefile` is changed, Bors mistakenly matches this to the two teams, when GitHub doesn't, and gitignore syntax says this shouldn't match.

[2021-02-24 13:59] basvandijk commented on #1168
The bug is here: https://github.com/bors-ng/bors-ng/blob/524eff45d09e0ec052346ae88d06e8c3f92a1003/lib/github/parse_owner.ex#L61

[2021-02-24 20:04] dpp23 opened #1169 "Follow pagination for statuses"
The call to get the statuses for a commit should follow the pagination as in https://docs.github.com/en/rest/reference/repos#list-commit-statuses-for-a-reference

Currently if a repository has too many statuses, bors ends up missing some and rejecting PRs for the `pr_status` rule.

[2021-02-25 11:08] JensRantil opened #1170 "Make "bors cancel" an alias for "bors r-""
Given that "bors merge" was introduced as an alias for "bors r+", I propose making "bors cancel" be an alias for "bors r-". I've seen a lot of developers who has been confused about what "bors r+" really means, so I think "bors cancel" also will improve usability a little.

Also, don't forget to update [the documentation](https://bors.tech/documentation/) if this change is accepted.

[2021-02-26 02:08] joshribakoff commented on #1085
an event consumer in prod is broken, and bors isn't merging the fix here after the CI checks passed https://github.com/brexhq/credit_card/pull/32289

[2021-02-26 15:37] #1169 closed

[2021-02-28 06:14] notriddle commented on #982
Fixed by https://github.com/bors-ng/bors-ng/pull/1094

[2021-02-28 06:14] #982 closed

[2021-03-01 11:33] carlos-granados opened #1178 "Bors-ng will not install in the latest Heroku stack"
If you try to install Bors-Ng in a Heroku app with stack `stack-20` you will get this error:

`/app/.platform_tools/erlang/erts-10.7/bin/beam.smp: error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory`

[2021-03-01 20:22] #1178 closed

[2021-03-02 18:23] francoisfreitag opened #1183 "Docker image: error while loading shared libraries: libtinfo.so.6"
**Thanks for the great project!**

We’re relying on the Docker image to run the application.
Pulling the latest image from the Docker Hub (sha256:59bcd00e2ab4f59f278895b9a83b17c1884f32bb1bffe4408a0a9bd4355d6c60) and starting it:

[code]

[2021-03-02 18:49] #1183 closed

[2021-03-02 19:41] francoisfreitag commented on #1183
Thanks a lot for fixing the issue so quickly. I deployed the new version (sha256:c552952f422a25c26d1cf66d6c67ee790d05c5652c317d5551475446ecc4fcaa) to our systems, works like a charm!

[2021-03-05 10:27] tharun208 commented on #1170
as per this pr - https://github.com/bors-ng/bors-ng/pull/746, `bors merge-` is added as another `alias` for `bors r-`.

[2021-03-08 19:02] chhabrakadabra commented on #140
Not entirely sure if this is appropriate to post here, but I recently created a merge queue for Bitbucket Cloud called [Mergetastic](https://mergetastic.com/). Perhaps this could be of interest to you?

[2021-03-09 09:46] JensRantil commented on #1170
That's nice, but I think `bors cancel` is even easier to remember and understand.

[2021-03-19 17:03] RetWolf opened #1192 "Unable to utilize GCP Health Checking"
Hello, I've been working on a Helm/K8S deployment for a private instance of Bors-ng and have been struggling to get load balancing working due to the fact that all the routes I've tried to health check on immediately redirect. Specifically, I'm deploying bors-ng to a Kubernetes cluster on Google Cloud Platform and their ingress controller/load balancer model automatically creates health checks tha

[2021-03-19 18:14] notriddle commented on #1192
You should implement a simple endpoint for this case.

[2021-03-20 00:49] RetWolf commented on #1192
I've created an RFC for it here: https://forum.bors.tech/t/add-a-simple-health-check-endpoint/563 and I will begin working on a PR to implement the endpoint on my fork. Happy to adjust as needed.

[2021-03-20 23:27] BuckyMaler commented on #936
@cryslith @notriddle this is a duplicate of #1127 and has been fixed, so this can be closed.

[2021-03-21 00:58] #936 closed

[2021-03-22 18:40] jeehoonkang opened #1196 "Running a docker image fails with "Fatal - Unknown CA""
I'm using DockerHub image of `borsng/bors-ng`.  It worked well with a previous image 3 weeks ago, but after upgrading it to [the latest one](https://hub.docker.com/layers/borsng/bors-ng/latest/images/sha256-42598d88d5135784f59b6f5549093457f07a6620fce935ce48e7981dd49ea148?context=explore), it started not working.  Specifically, When running the latest image on a local Docker host, it fails with the

[2021-03-22 20:45] RetWolf commented on #1196
Potentially related to this commit: https://github.com/bors-ng/bors-ng/commit/43a4cb2ada97ff9c7552c3838b4ed46fc9c74d69
Not sure the context around the change

[2021-03-22 22:01] notriddle commented on #1196
The change was to fix a TLS-related bug that only took place on Heroku. It seems like there are considerable differences between Heroku's runtime and the Debian Buster Docker container...

In any case, I've reproduced the problem and pushed a pull request to fix it. https://github.com/bors-ng/bors-ng/pull/1197

[2021-03-22 22:25] #1196 closed

[2021-03-25 00:43] RetWolf opened #1199 "Assets node_modules folder breaks Docker build on Windows"
# Steps to Reproduce
It's important to note that I've only been able to reproduce this issue on Windows, I don't seem to run into these issues on Mac/Linux.

1. Perform a fresh `git clone` of bors-ng
2. `cd .\assets\` and run `npm i`
3. `cd ..` and run `docker build -t bors-ng:repro .`

Following these steps produces the following build failure:

[code]

I believe the cause to be file permissions

[2021-03-25 01:14] #1199 closed

[2021-03-31 07:24] BuckyMaler commented on #959
@roni-frantchi I'm seeing this too. Were you able to resolve it?

[2021-03-31 15:13] #1170 closed

[2021-04-02 22:42] Ekleog opened #1211 "Make it possible to add context to a PR"
#### Description of the problem

We're considering having a look at bors for a pretty huge OSS repo (for a linux distro), where a lot of tests are expected to fail and running all the tests takes several hours even on our current build infra. As such, it wouldn't be reasonable to just run all the tests on each bors-attempted rollup.

(Well… to be precise, it'd be awesome if we could do that, but i

[2021-04-03 00:48] notriddle commented on #1211
That's not available for `bors r+`, but that feature is available for `bors try`, if you want to run a subset of your test suite on your CI infrastructure.

[2021-04-05 23:32] Ekleog commented on #1211
Oh that sounds great! It means that bors would currently work perfectly if we switched to complete usage of it.

Unfortunately, switching to it is certainly going to involve a lot of politics (we're already having a hard time convincing people to go through CI and not just do direct pushes to master), so… do you think there is a possibility for this to be added to bors r+, or does that sound like

[2021-04-06 00:09] notriddle commented on #1211
Probably not going to happen upstream. It violates the "always passes all the tests" rule, after all. If you want that, you'll need to fork.

[2021-04-06 17:14] Ekleog commented on #1211
Hmm so your comment being strange to me (whether it passes all tests is only dependent on the setup of CI), I re-checked https://bors.tech/documentation/ and couldn't find the feature you mentioned with bors try. What am I missing?

[2021-04-08 00:07] RetWolf opened #1212 "Github API returning 401 "Bad Credentials" error during initial OAuth flow"
Currently running into an auth issue with a Bors deployment inside our Github Org. Whenever users try to sign in through the Github authorization flow, they are returned to the /auth/github/callback route and get an internal server error message (500). The 500 appears to be generated on the server due to a 401 Unauthorized response from the Github API. This 401 leads me to believe there's an issue

[2021-04-08 14:05] RetWolf commented on #1212
The issue ended up being with a newline at the end of one of our secrets 😄  go figure. This log had me chasing all the wrong directions. For future users running into this issue, make sure there are no newlines at the end of your secrets!

[2021-04-08 14:05] #1212 closed

[2021-04-08 15:04] #1192 closed

[2021-04-09 03:28] nrdxp opened #1214 "feature request: add option `up_to_date_branch`"
In the spirit of making bors as full proof as possible, I'd like to suggest a new optional configuration option that will actually rebase a given PR on top of the main branch before running the ci checks. This ensures that if checks pass, that they will actually pass even after the merge.

I'm suggesting this because I just had to revert a couple of commits that passed CI only because they were a

[2021-04-09 14:54] eric-wieser commented on #1163
Can you elaborate on this? Do PRs from different repositories actually end up with a "merged" marker?

[2021-04-09 15:01] eric-wieser opened #1217 "Mark PRs merged by bors as merged not closed"
Right now (at least with `use_squash_merge = true`), PRs merged by bors end up with `[Merged by Bors]` in the title, but are still considered "closed" instead of "merged" by github. This has a number of downsides:

* Repository statistics about merged vs closed aren't useful
* The "revert PR" button doesn't appear
* I don't think "Closes #NNN" works in PR descriptions, since github considers the P

[2021-04-09 15:19] DJMcNab commented on #1163
So, for example, in https://github.com/bevyengine/bevy/pull/1845, bors renamed the PR to `[Merged by Bors] - ...`. However, that facility is only used by the delete source branch option.

At least the option to use a label instead might make sense.

Ideally of course, the PR could be marked as merged instead of just closed, but GitHub doesn't (seem to) allow that.
In theory, bors could create a ne

[2021-04-09 17:14] eric-wieser commented on #1163
Oh, is that heading used as a marker for bors to detect dead branches? I don't understand what you mean by "used" here - I assumed that heading was purely for humans to read in the absence of github showing it as merged (#1217)

[2021-04-09 17:23] bjorn3 commented on #1163
I think showing `[Merged by bors]` when using squashing is important for UX. Otherwise you would have to visit the PR to know if it was merged or not.

[2021-04-10 00:24] cart commented on #1163
Yeah I've come around on the heading. I think it's definitely useful to help indicate that the PR is merged. I'd also very much prefer that it be actually marked as purple/merged because it messes with our github statistics (and is definitely clearer for humans). But I understand that this is a github limitation 😄

[2021-04-12 13:48] jonas-schievink commented on #984
There's currently a GitHub bug that will resend these notifications even without the commit getting rebased, so the notification spam from this has gotten significantly worse over the last weeks

![screenshot-2021-04-12-15:47:34](https://user-images.githubusercontent.com/1786438/114405016-8ac56200-9ba6-11eb-86c9-81e46ac525ed.png)

[2021-04-14 21:08] #1143 closed

[2021-04-21 01:48] semorrison opened #1227 "when a batch fails, mark the PRs with an orange dot, not a red cross"
To me, seeing a red X on a PR means that something is broken and I need to fix it.

Now that we're using bors on [https://github.com/leanprover-community/mathlib](mathlib), I frequently see my PRs marked with a red X, when in fact all that has happened is that bors tried and failed to merge it as part of a batch, and bors is still retrying with smaller batches. There's nothing for me to do, CI is

[2021-05-03 18:36] onthespotqa opened #1237 "Setup Issue: POST /webhook/github returns a 401 because of an invalid signature"
I setup an instance of the github webhook under my account for prototyping. The webhook itself was installed on heroku using the 1-click deploy.

I've confirmed that the github_webook_secret is the same in both my install app and the heroku instance. And then tried installing it on a single repo, and the webhook request still returns a 401.

Is there something i'm missing? The only other thing i c

[2021-05-05 02:36] saifelse opened #1239 "bors gets stuck after a db crash"
Hello! I am currently running bors on Build 524eff4. After `bors merge`ing on a PR, occasionally, I run into the following error:

[code]
This is likely an issue with how we have our database set up, but it has a surprising behavior: after the crash, the PR ends up in a weird state:
 - In Bors UI, it's corresponding Batch is marked as "Canceled".
 - But in GitHub, the status is stuck in a `Running

[2021-05-06 11:01] RetWolf commented on #1237
Hey @onthespotqa, trying to make sure I understand what's going on here. Are you self-hosting Bors on Heroku using the 1-click deploy option? Are there any logs from Bors that you can provide here that might have some more context? I ran into a similar problem here: #1212 where Github returned a 401 upon user login. The problem turned out to be a random newline at the end of a secret. I'd verify y

[2021-05-06 11:32] RetWolf opened #1240 "forum.bors.tech unavailable"
Currently unable to access the Bors forum. Getting a ERR_CONNECTION_REFUSED page when attempting to access it. It's been like this for a few days now, not sure what happened.

cc @notriddle

[2021-05-06 14:55] #1240 closed

[2021-05-06 14:55] notriddle commented on #1240
I think I found the cause of that. Sorry!

[2021-05-06 15:30] RetWolf commented on #1240
No problem, thanks for the quick fix 😄

[2021-05-13 10:02] da-kami opened #1246 "bors suddenly does not react to any commands"
At some point today bors stopped reacting to any commands on any PR in our repo https://github.com/comit-network/xmr-btc-swap/pulls

Event `bors ping` does not trigger anything. Until the latest merge into master everything worked fine.
PR where we kept trying several times today: https://github.com/comit-network/xmr-btc-swap/pull/493
(Also tried ping on other PRs and no pong received.)

Any idea

[2021-05-13 10:48] bjorn3 commented on #1246
Same for rust-analyzer/rust-analyzer and softdevteam/yk.

[2021-05-13 13:40] #1246 closed

[2021-05-13 21:35] bazaah opened #1249 "Migrations trigger a crash dump"
When attempting to run a private instance of bors-ng, I'm getting a crash in what seems to be database migrations.

## System

This is running fairly deep into a virtualization stack, but the parent node's details are:

[code]

## Version Info

[code]

Refers to 2c64c19701d1e1e2049c1b03e96fdc1205e9365d I think.

[code]

# Error

I receive the following crash dump:

[code]

And a large ` erl_crash.

[2021-05-13 22:52] bazaah commented on #1249
As an update, I _can_ get this working by overriding `config` via `DATABASE_URL=<..rest>?pool_size=10` (as mentioned in the [ecto docs](https://hexdocs.pm/ecto/Ecto.Repo.html#module-urls) ). But I can't see what would be preventing the default value set [here](https://github.com/bors-ng/bors-ng/blob/master/config/prod.secret.exs#L7) from working.

[2021-05-14 07:04] onsails commented on #1249
Same here after upgrading container already running without issues for months

[2021-05-20 21:15] esjolander commented on #1249
I hit this too. I think it's because Bors has some custom code to do database migrations, which sets `pool_size` to 1. bazaah's workaround (adding `?pool_size=10`) worked for me.

https://github.com/bors-ng/bors-ng/blob/616c2f9a7635ffedd68c30e938ac31d103cdb49c/lib/database/migrate.ex#L30-L37

[2021-05-20 23:00] #1249 closed

[2021-05-24 17:24] onthespotqa commented on #1237
@RetWolf I also self hosted on Heroku and used the 1 click deploy.

[2021-05-26 21:08] cart commented on #1217
Yup this is causing issues for us in Bevy. We want clean squashed history without bors merge commits, so we enable `use_squash_merge`, but this comes at the cost of the problems mentioned above (broken stats are a huge loss for us). We also want to distinguish between merged state and closed state in our project boards, but right now that is impossible.

[2021-05-30 19:03] matklad opened #1257 "Include build duration information into "Build succeeded" message?"
This maybe is a feature creep, but I decided to log it just in case.

At the moment, the message upon merging the PR looks like this:

---
Build succeeded:
  * [Rust (macos-latest)](https://github.com/rust-analyzer/rust-analyzer/runs/2705443006)
  * [Rust (ubuntu-latest)](https://github.com/rust-analyzer/rust-analyzer/runs/2705442971)
  * [Rust (windows-latest)](https://github.com/rust-analyzer/ru

[2021-06-03 00:05] semorrison commented on #1227
I don't really understand the bors code base, but is there a chance that just changing
https://github.com/bors-ng/bors-ng/blob/master/lib/database/batch_state.ex#L29
would fix this problem?

A conflict really shouldn't count as an error --- it is an every day expected event in a busy repository.

[2021-06-07 13:16] KnisterPeter opened #1259 "Access calls for keywords expect the key to be an atom, got: "check_runs""
Hi,

with the latest version (docker borsng/bors-ng:latest@sha256:74f6a4484838c55a47ce4cf4dcf9a195c6cf879277f16315a28c920a984b461a) we get the follow error below:

[code]

And breaking change we did miss and need to update?

[2021-06-07 18:33] #1259 closed

[2021-06-08 13:41] haampie opened #1263 "bors is down?"
https://app.bors.tech/

heroku logs --tail

[2021-06-08 14:36] hi-rustin commented on #1263
cc: @notriddle

Could you please take a look? Is it related to my changes?

[2021-06-08 14:51] hi-rustin commented on #1263
It should be the result of my changes, sorry!

[2021-06-08 15:45] haampie commented on #1263
thank you!

[2021-06-08 18:54] #1263 closed

[2021-06-22 00:23] cart opened #1274 "Separate reviewer and admin permissions"
I would like to delegate "bors r+" permissions to people I trust by manually constructing the "reviewers list", but I don't want those people to be able to add _other_ people to the reviewers list. There also doesn't appear to be a way to audit if someone has been added / removed from the reviewers list, so it seems like it is possible for the following to happen without being able to hold Reviewe

[2021-07-01 10:58] tommilligan commented on #1152
Hey @asbach, I believe this can be now closed as fixed by #1273. Please take a look and verify if it covers your use case, or provide more details if not.

[2021-07-01 11:01] tommilligan commented on #1150
Hey @tiagolobocastro , I believe this can be now closed as fixed by #1273. Please take a look and verify if it covers your use case, or provide more details if not.

The crash is caused when bors tries to merge a commit into your master branch, on which there is branch protection setup (and not fulfilled). My guess is that the `commitlint` check is still running on the new commit that bors created

[2021-07-01 11:02] tommilligan commented on #1027
Hey @rvl, I believe this can be now closed as fixed by #1273. Please take a look and verify if it covers your use case, or provide more details if not.

bors now provides generic error handling if github rejects merging the tested commit into the parent branch.

[2021-07-01 11:03] tommilligan commented on #432
Hey @palango , I believe this can be now closed as fixed by #1273. Please take a look and verify if it covers your use case, or provide more details if not.

bors now provides generic error handling if github rejects merging the tested commit into the parent branch.

[2021-07-01 11:03] tommilligan commented on #375
Hey @JensRantil, I believe this can be now closed as fixed by #1273. Please take a look and verify if it covers your use case, or provide more details if not.

bors now provides generic error handling if github rejects merging the tested commit into the parent branch.

[2021-07-01 11:05] palango commented on #432
@tommilligan Thanks for the reply. I cannot test this any more since the repo doesn't exist any more. Feel free to close.

[2021-07-01 11:10] rvl commented on #1027
Thanks @tommilligan!

[2021-07-01 11:10] #1027 closed

[2021-07-01 11:33] tiagolobocastro commented on #1150
Brilliant thanks @tommilligan :+1: I'll close this one then. (can always reopen if it happens again)

[2021-07-01 11:33] #1150 closed

[2021-07-01 12:26] tommilligan commented on #432
Thank - if we can't reproduce and the issue is no longer relevant to you, could you close? I'm just trying to tidy up issues that don't require further action, but am not a maintainer so don't have the power to close your issue :slightly_smiling_face:

If you think this still requires attention, then of course please leave open.

[2021-07-01 12:26] #432 closed

[2021-07-20 16:26] asbach commented on #1152
Hello @tommilligan,
I've deployed a version of bors that includes your fix and the issue appears to be fixed. Thanks a lot :-)

[2021-07-20 16:26] #1152 closed

[2021-07-21 18:04] #984 closed

[2021-07-21 19:45] DJMcNab commented on #1217
I think this is related to https://github.com/bors-ng/bors-ng/issues/899.

A few of us (@bjorn3, @mockersf ) in the [bevy discord](discord.gg/bevy) have been theorising a potential way to workaround this.

In this scheme bors would act as it currently does, until it reaches the point where the PR would currently be closed. At that point, it would change the base branch of the PR to its own version

[2021-07-28 20:43] dieend commented on #602
@notriddle  Do pull requests in a draft state that are being merged still have their CODEOWNERS checked?

[2021-07-30 19:19] abdoofathy95 opened #1288 "Deploying into fargate"
I had some issues deploying Bors into fargate behind a load balancer, and the main issue was due to the force_ssl not being configurable, it would be great if this https://github.com/bors-ng/bors-ng/blob/master/config/prod.secret.exs#L25
was configurable through an env variable.

my main issue was that I wanted to have the container running HTTP protocol and not using SSL.

is that at all possible

[2021-07-30 19:47] notriddle commented on #1288
You can disable the redirect by setting the `FORCE_SSL` environment variable to `false`.

[2021-08-06 19:17] antifuchs commented on #1288
Setting `FORCE_SSL` to false does not work, at least in my experiments in fargate: The server still logs `[info] Plug.SSL is redirecting GET /health to https://[our-bors-instance] with status 301` when ALB target groups try to check health.

[2021-08-06 20:26] antifuchs commented on #1288
A workaround that will do the trick for the moment (as it won't let you skip the health check) is to set `200,301` as the matcher for the target group health evaluation.

[2021-08-06 23:40] abdoofathy95 commented on #1288
I tried the force SSL option but it didn't work, using 200 or 301 works as well but what I did was
Disable https://github.com/bors-ng/bors-ng/blob/master/config/prod.secret.exs#L25
Altogether and build an image. I still think that if this was configurable, it would provide more flexibility.

[2021-08-11 15:33] antifuchs opened #1298 "Setup docs don't mention "Subscribe to events""
Following the setup docs, I got a private bors installation working that got notified when somebody opens a PR. However, github never sent any webhooks from github when somebody made comments on those PRs, and bors never jumped in when people comment with `bors try` or similar.

The thing that I seem to have been missing was that there's a section "Subscribe to events" underneath the permissions,

[2021-08-11 21:58] yesthesoup commented on #1217
Have run into this issue as well for our configuration. Just enabled `use_squash_merge` in the repo's `bors.toml`, but it's now closing all the merged PRs instead of merging them as before.

[2021-08-15 23:13] hgrecco opened #1300 "Pattern matching all github actions"
When using Github actions with matrix, the job name is combined with a string that describes the specifics. For example in https://github.com/hgrecco/pint-pandas the current `bors.toml` looks like this
[code]
But in more complex projects the numeber of `test` lines will increase. If I use `test%`, bors will be satisfied if at least 1 succeeds. Is there a way to require all status that start with `

[2021-08-15 23:20] notriddle commented on #1300
This normally seems to be done with a dummy job, like this one:

https://github.com/notriddle/xargo/blob/954a6cfcfeb30e8019fdf691a4687806db0bbc82/.github/workflows/ci.yml#L101

[2021-08-15 23:21] hgrecco commented on #1300
sounds good. I will give it a try

[2021-08-15 23:53] #1300 closed

[2021-08-20 05:14] maraisr commented on #1288
You dont happen to have your terraform/cloudfromation for this handy did you @abdoofathy95

[2021-08-20 09:15] peterhalasz opened #1304 "Avatars won't load from self-hosted Github"
Hi bors team!

I'm using bors integrated to a self-hosted deployment of Github. The issue I'm facing is that once I log into my bors deployment, my avatar (top right corner of the UI) won't load. My Github returns a 302 because the request is unauthenticated.

bors is loading the avatar using the `avatar_url` from the Github `/user` API here: https://github.com/bors-ng/bors-ng/blob/616c2f9a7635ffe

[2021-08-20 15:52] notriddle commented on #1304
Proxying (option 2) is likely the best way to do this. You’d need to add a new route and a new controller method, much like how the settings page does it, to have bors get a user token and perform the fetch that way.

[2021-09-11 02:05] colelawrence commented on #1298
Perhaps this has been updated already since report, but I recall seeing these listed as items underneath the permissions.

[2021-09-13 21:18] Undin opened #1318 "app.bors.tech is down"
https://app.bors.tech/ returns 503 currently
![image](https://user-images.githubusercontent.com/2539310/133157640-02693b4e-1a20-4e7a-bc5b-a935a78867ef.png)

As a result, the corresponding pull requests cannot be merge

[2021-09-13 21:52] notriddle commented on #1318
I see. It's back up now. Sorry about this.

[2021-09-13 21:52] #1318 closed

[2021-09-13 21:53] Undin commented on #1318
@notriddle Thank you!

[2021-09-16 17:24] Ten0 opened #1319 "Postgres scram-sha-256 authentication support"
It looks like scram-sha-256 is supported by Postgrex starting from https://github.com/elixir-ecto/postgrex/commit/394b16acb7622b6677cfe67cb806f2a6394ecbac.

However, when the postgres server has this setup as authentication method in pg_hba.conf, bors-ng fails to connect to the database. (PG13):

[code]

I'm unsure if this is a dependency version issue, a usage issue, or a downstream (Postgrex) is

[2021-09-24 15:18] tsvietOK opened #1323 "Bors crashing when trying to merge PRs."
We have bors running as Azure App service and our GitHub Ent. Server (GHES v3.1.6) instance with installed bors app. When we trying to bors r+ several PRs, bors reports Merge conflict status(not a message and there is no actual conflict) and we see the next error in log:
[code]
We've tested the same on GHES v3.1.4 (deployed on Azure VM) and there is no such issue.
What could be the problem?

[2021-09-24 16:00] notriddle commented on #1323
Do you have two different instances of bors running at once?

[2021-09-24 18:16] abdoofathy95 commented on #1288
Hey @maraisr,
I totally forgot https://github.com/abdoofathy95/bors-on-aws-ecs.

[2021-09-25 00:59] tsvietOK commented on #1323
@notriddle Of course not.

[2021-09-28 11:55] znewman01 commented on #1298
I think GitHub has changed the presentation of the project permissions since those instructions were written -- they're not one-to-one with each other so it takes a little bit of thinking/guessing to get them set up correctly.

[2021-09-30 03:01] bryangingechen opened #1329 "new "Mergeable" column incorrect?"
This is in reference to [leanprover-community/mathlib](https://github.com/leanprover-community/mathlib)'s bors page: https://app.bors.tech/repositories/24316

I looked over [the "Keep track of unmergeable and draft pull requests" RFC](https://forum.bors.tech/t/keep-track-of-unmergeable-and-draft-pull-requests/556), and my impression was that the "Mergeable" column should show "Yes", "No" and "Draf

[2021-09-30 16:24] notriddle commented on #1329
The fact that it showed some PRs as mergeable when they actually weren't was expected. Bors just didn't backpopulate all the data. I was planning on it gradually fixing itself, because [whenever bors gets a webhook, it will extract the PR metadata that GitHub attaches to it and sync the database with it](), so every time you post a comment, push a commit, or otherwise interact with a PR, bors will

[2021-09-30 16:40] #1329 closed

[2021-09-30 16:51] bryangingechen commented on #1329
Hmm, all of the PRs awaiting review seem to have disappeared from the bors page, though I see they are maybe slowly repopulating - is that related to this update somehow?

[2021-09-30 16:53] notriddle commented on #1329
Yes, I saw that too. It's running a resync job right now to fix your dashboard.

[2021-09-30 17:02] bryangingechen commented on #1329
Got it. It looks good now, thanks!

[2021-10-01 06:45] Saviq opened #1336 "Incorrect `bors.toml: expected status to be a list` with duplicate items"
When you duplicate items in the `status` key, bors will complain with:

`bors.toml: expected status to be a list`

[2021-10-01 09:42] tsvietOK commented on #1323
I've updated first post with logs.

[2021-10-04 18:34] bryangingechen opened #1341 "bors public instance timeouts"
Two of our batches (running on the public instance) have crashed today due to timeouts: https://app.bors.tech/repositories/24316/log

I'm reporting them here in case it helps.

Mon, 04 Oct 2021 13:19:04 GMT:
[code]

Mon, 04 Oct 2021 17:18:47 GMT:
[code]

[2021-10-04 19:36] bryangingechen commented on #1341
It just happened again; right after I added `bors r+` to a PR.

Mon, 04 Oct 2021 19:34:32 GMT:
[code]

[2021-10-06 09:31] tsvietOK opened #1342 "module :conflict is not available"
With issue #1323 we are getting the next error:
[code]
[code]
What could be a problem?

[2021-10-06 11:51] tsvietOK commented on #1323
Upd: Why I am getting error because of timeout? I set the var GITHUB_API_TIMEOUT to 30000(and default value is 10000).
[code]

[2021-10-06 18:17] wyao-simspace opened #1346 "Patterns aren't supported in PR status names"
The reference documentation [shows SQL-like patterns being used in the staging status](https://bors.tech/documentation/#configuration-borstoml), like `'ci/gitlab/%'`. However, this doesn't seem to work for `pr_status` and `block_labels`.

The difference seems to be that the staging status check is done using `BorsNG.Database.Status.get_for_batch`, which does a Postgres LIKE, but the PR status chec

[2021-10-06 22:44] #1342 closed, assigned to nobody

[2021-10-09 20:18] notriddle commented on #1323
I've just pushed out a new Docker images with these two pull requests in it, also.

[2021-10-11 09:29] tsvietOK commented on #1323
I confirm, issue has been fixed. Thanks!

[2021-10-11 09:39] tsvietOK opened #1353 "Error when bors trying to get staging.tmp branch"
Looks like this error does not affect merge processes and all works fine. Is it okay to get this error?
[code]
One more type of this error:
[code]

[2021-10-11 14:54] #1353 closed, assigned to nobody

[2021-10-13 12:48] curquiza opened #1357 "Fail because of status required by GitHub (Milestone Check)"
Hello,

Sorry if it's not the right place to write my issue

We are using bors in several repositories. One of these repositories requires a milestone to be set in order to merge a PR.
We added the [PR Milestone Check](https://github.com/scholzj/milestone-check) integration to our repo.

We added this check status as mandatory to merge a PR, cf our settings for the `main` branch

<img width="919"

[2021-10-13 17:07] curquiza commented on #1357
Is it normal we already succeeded to merge dozen and dozen of PRs without putting the Milestone Check on our bors.toml file?

[2021-10-14 11:42] curquiza commented on #1357
No, we did not merge multiple PRs at the same time. We try one by one but we still had the issue.

[2021-10-14 12:24] notriddle commented on #1357
If it needs to be run on the PR, and not on the final merge commit, then use the `pr-status = "Milestone Check"` config option instead.

[2021-10-14 14:14] curquiza commented on #1357
I think we succeeded to remove the problem with `pr-status`, thanks @notriddle!
I close the issue

[2021-10-14 14:14] #1357 closed

[2021-10-19 08:19] tsvietOK opened #1362 "SyncerInstallation error"
As I understand this error appears when bors does nothing and starts syncing installations.
[code]

[2021-10-21 03:21] ice1000 commented on #1028
Is it going to be implemented?

[2021-10-27 18:41] heinrich5991 opened #1371 "Pull request invisible to bors"
https://github.com/ddnet/ddnet/pull/3961 seems to be completely invisible to bors. I cannot see it on the status page, not even after clicking "Sync pull requests". As you can see in the comments, bors does not respond to commands in the PR.

Other PRs show up on the status page and bors reacts to the commands just fine.

Thanks for writing and maintaining bors, I think it helped DDNet development

[2021-11-01 19:02] foresterre opened #1378 "Error on force push in open PRs"
Recently I've been seeing a lot of errors similar to the one posted below:

[code]

From: https://app.bors.tech/repositories/34518/log

When this error happens, bors reports its github check as: `Waiting in queue`, and it seems the check then hangs (i.e. does not proceed, stays "waiting in queue"). When this happens, trying to `r-` and `r+` again does not help.

From the error I find it difficult

[2021-11-01 22:47] foresterre commented on #1378
Ah! Forgot I made these branches protected.

[code]

My idea was to protect these branches from accidental deletion, but I probably forgot to add "allow force pushes":
![image](https://user-images.githubusercontent.com/5955761/139752034-6ecfa901-c94c-4031-8505-955407367050.png)

[2021-11-01 22:49] #1378 closed

[2021-11-02 14:53] tsvietOK opened #1380 "BorsNG.Endpoint terminated: constraint error when attempting to insert struct"
[code]

[2021-11-09 08:48] itchymax commented on #994
We have the same issue. Any solution to this?

[2021-11-11 15:48] tsvietOK opened #1388 "pr_status pattern question"
Is pattern supported for bors.toml parameter `pr_status`?

[2021-11-11 16:00] notriddle commented on #1388
Not currently, no.

[2021-11-17 14:54] eric-wieser opened #1393 "In a multi-user PR, bors uses the email address for the wrong user"
If a PR by user `A` has the commit history
* old commit by user `B`
* new commit by user `A`

Then the following code

https://github.com/bors-ng/bors-ng/blob/d108a6cf8e2c5cdb2afa04b32b1e4e96d4376653/lib/worker/batcher.ex#L486-L493

Causes bors to emit:
[code]

[2021-11-17 15:03] eric-wieser commented on #1393
Some possible solutions here for when no email can be found:

* Search through all the commits until one is found with a matching `user.name`, and use the email from that one
* Use the `ID+username@users.noreply.github.com` email address. I don't know if this is exposed by the github API
* Use the `username@users.noreply.github.com` email address. This doesn't work as well if users change their gi

[2021-12-02 11:21] tsvietOK opened #1402 "Support "Require pull request reviews before merging""
Is branch protection rule `Require pull request reviews before merging` supported? When I trying to merge PR with squash merge enabled, I getting an error `{"message":"At least 2 approving reviews are required by reviewers with write access.","documentation_url":"https://docs.github.com/enterprise/3.1/user/articles/about-protected-branches"}`.

[2021-12-06 17:20] gebner commented on #1341
Today again (in two different repositories):

12/6/2021, 1:03:22 PM:
[code]

12/6/2021, 1:49:45 PM:
[code]

[2021-12-07 13:42] Xavientois opened #1404 "Add configurability to branch names"
It would be useful to be able to change the names of the `trying` and `staging` branches to something else in order to not conflict with existing names.

I see from [this line](https://github.com/bors-ng/bors-ng/blob/a1b31786d48839f67fd5691564217e8538f74b24/lib/database/project.ex#L42) that these names are not hard-coded, so it looks like it might be a matter of exposing those two parameters throu

[2021-12-07 14:06] notriddle commented on #1404
You can change the name of those branches from the dashboard. It’s in the same place that you configure permissions:

https://forum.bors.tech/t/adding-new-reviewers-to-a-repository/73

[2021-12-07 14:11] Xavientois commented on #1404
Thank you! That is exactly what I was looking for.

[2021-12-07 14:11] #1404 closed

[2021-12-09 16:42] Xavientois commented on #1341
This looks similar to what we are seeing here: https://forum.bors.tech/t/circleci-batch-canceled/622

[2021-12-09 17:25] notriddle commented on #1341
Well, I've tried raising the timeout, hope that helps.

I think it's https://github.com/bors-ng/bors-ng/pull/1334 that caused it, causing some API actions to require much more network traffic than before.

[2021-12-15 17:09] RetWolf commented on #1402
Hey @tsvietOK, this feature is supported in Bors. Make sure in yours `bors.toml` you have `required_approvals = 2` and `up_to_date_approvals = true`.

[2021-12-15 17:12] tsvietOK commented on #1402
I know, we have a file bors.toml in the repo root with line `required_approvals = 2`, but anyway I getting this error.

[2021-12-15 17:17] RetWolf commented on #1402
I don't use Github Enterprise, so maybe I'm unaware of an issue with this feature there. The logs make it seem like a Github issue and not a Bors one. Have you made sure both approvers have write access? Have you previously used Bors successfully on this repository before enabling the required approvals, or is this the first time you are trying to use Bors?

[2021-12-15 17:35] tsvietOK commented on #1402
Yes, both approvers have write access.

This is the first time. I tested it with another repo, same effect. It works when feature `Required number of approves` is disabled.

[2021-12-15 18:09] notriddle commented on #1402
GitHub-side `Require pull request reviews before merging` doesn't work properly with bors.

The problem, essentially, is that GitHub can't always connect the commits that bors makes with the pull request it's made from. This happens when you have a batch with more than one pull request in it, and when you use squashing.

The solution is to rely on bors's enforcement, and not GitHub's.

[2021-12-21 19:51] amartani opened #1414 "Restrict target branches accepted by Bors"
We run a private bors instance, and we are running into a relatively common issue of merges being issued with the incorrect target branch set. In particular, there's a tool for handling dependent pull requests (https://github.com/ezyang/ghstack) which creates pull requests without the correct target branch, and requires the authors to adjust the target branch before issuing the merge.

To prevent

[2022-01-18 21:09] nomeata opened #1428 "“Pull request successfully merged” message could include commit"
When using the squash mode, I would find it very useful if the “Pull request successfully merged” message would actually mention the SHA of the commit on the base branch, to make that connection from PR to commit easy.

[2022-01-22 23:23] nomeata commented on #1140
I'm trying to understand a case where bors said “waiting for checks” and then nothing happens, even after the status checks have been set. This feature would make it easier to guess where things go wrong; whether bors wrongly thinks the status are not ok, or something else is amiss.

[2022-01-23 08:52] nomeata opened #1434 "waiting for PR status, and then nothing happens"
At https://github.com/leanprover-community/mathlib/pull/11609 the mathlib project is trying to use the `pr_status` feature, but our experiments failed: bors did say “Waiting for PR status”, but then nothing happens.

The configured timeout is multiple hours, so that's likely not it.

Could it be that bors is confused if the config differs between the branch and the base? Or what exactly went wrong

[2022-01-23 11:29] nomeata commented on #1434
Based on https://github.com/bors-ng/bors-ng/pull/785#issuecomment-581154766 this was discussed before. There @notriddle said that it should be improved later. Did that ever happen?

[2022-01-23 11:34] nomeata commented on #1434
Reading the code it seems that there is an undocumented (at https://bors.tech/documentation/) configuration option `prerun_timout_sec` that is separate from `timeout_sec`? In `mathlib`, we set `timeout_sec = 28800`; so that might explain it.

[2022-01-25 23:02] vladmalynych opened #1441 "Permissions synchronize update fails"
We are using private repo, and self hosted bors-ng.

When trying to synchronize permissions
<img width="1028" alt="Screenshot 2022-01-25 at 23 57 29" src="https://user-images.githubusercontent.com/17581967/151073735-e51679e6-7cf1-4c58-adea-89082dec0057.png">

It fails on timeout:
[code]

We have 300+ open PRs and github is not able to finish request in 100 sec.

[Increasing this hardcoded value](h

[2022-01-26 00:52] notriddle commented on #1441
Does the PR you made, referencing this issue, actually fix it?

[2022-01-26 00:58] vladmalynych commented on #1441
Hi, yes with this changes I am able to increase timeout for `get_open_prs` by defining `GITHUB_API_TIMEOUT` env.
I just start a container with env `GITHUB_API_TIMEOUT: '200000'`, this resolved my issue.

[2022-01-26 01:08] #1441 closed

[2022-01-26 01:08] notriddle commented on #1441
Cool. Thanks!

[2022-01-29 22:47] collares commented on #1434
I ran a bors instance on Heroku to test this. After typing `bors r+` while the CI checks were running, bors started polling statuses like so:
[code]
There's a total of 15 checks, once per minute, then it stopped (I waited for 19 minutes). I then did `bors r+` again, and the plot thickened:
[code]
Notice the first line (a response to the almost 20-minute-old request, with a different pid) before Bo

[2022-01-30 15:24] collares commented on #1434
I added some logging, and found out the preflight checks stop running as soon as the first `{:poll, :repeat}` message gets sent/handled. Since the first call happens at a random time between 0 and 30 minutes, this matches my observation that the time until failure was not fixed. Also, `self()` returns a different pid every time the `{:poll, :repeat}` message gets handled.

In one of the failures,

[2022-01-30 15:30] collares commented on #1434
I added some logging, and found out the preflight checks stop running as soon as the first `{:poll, :repeat}` message gets sent/handled. This makes sense, since https://github.com/bors-ng/bors-ng/blob/master/lib/worker/batcher.ex#L239 instructs GenServer to terminate the process, but has the unfortunate side effect of stopping the preflight checks. Since the first call happens at a random time bet

[2022-02-04 16:02] wcauchois opened #1454 "Setup instructions don't work (MacOS)"
In the instructions [here](https://github.com/bors-ng/bors-ng#how-to-run-it-on-your-local-machine), it says that `script/setup && script/server` should be enough to setup a local dev environment - however that did not appear to be the case for me.

I _think_ I ended up getting it working, I'm going to write down my experience here.

Towards the end of the scripts/setup script, I got this error mes

[2022-02-10 23:30] jfirebaugh commented on #1454
My workaround was copying some lines from `script/Dockerfile`:

[code]

[2022-02-12 00:34] Fire-Dragon-DoL opened #1457 "Have the PR title appear in the merge commit subject. Is it possible?"
Hello,
I've been digging through the source code and I think the answer is **no**.

Is it possible to use the PR title as the subject of the merge commit?

If not, is this a feature that could be implemented or is it undoable with the current design of the software? (I was going to try and submit a PR)

[2022-02-12 00:36] notriddle commented on #1457
It's not a currently-present feature.

The problem with doing it is batching; if you have five different PRs merged with the same merge commit, do all of their messages go on one line? Or does one of them get to be the title, while the others all get pushed down in the message?

[2022-02-12 01:04] Fire-Dragon-DoL commented on #1457
Thank you, that's what I wanted to discuss/understand. The problem would indeed be batching and I have no solution for that. In my mind each PR would be its own merge commit, but from my understanding this is not possible.

It doesn't make sense in the other cases, all titles on the subject would be very long and there is no way to determine (if only one was going to be used) which one would be at

[2022-02-12 01:04] #1457 closed

[2022-02-15 12:56] kevincox opened #1460 "Ability to "Pause" queue for a repository"
It sometime happens that CI is broken for everyone due to some outside dependency. For example maybe some remote cache storage is down. In this case everyone who merges just gets a failure.

It would be nice if there was a way to "pause" merges for a repo or globally. For example from the dashboard a repo can be paused. When paused a repo would still accept bors commands as usual however the merge

[2022-02-15 16:28] notriddle commented on #1460
That sounds like a great idea. Ideally, it should probably use the same commands that [homu] uses:

[homu]: https://bors.rust-lang.org/

[2022-02-15 17:02] kevincox commented on #1460
The weird thing to me is do those go on a PR? Because if they affect the whole tree then it is weird to pick a PR to put them on.

[2022-02-15 17:06] kevincox commented on #1460
An interesting extension would be to add a "start time" to the pause that was in the past (or future). If it is in the past it will retry anything that failed since then after unpausing. However this could also be a bit of a footgun if you forget what year it is and have a lot of failed PRs still open.

[2022-03-11 04:02] ileixe opened #1473 "New CI integration?"
I'm integrating Tekton CI (https://tekton.dev/docs/) with bors and not sure what's required API from CI side for Bors.

I guess `status` field in bors.toml have some effect but I could not find the exact connections. (and I could not find the information from code as I'm elixir newbie..)

Is there any reference / guide to introduce new CI?

Thanks

[2022-03-16 16:09] collares commented on #1434
@notriddle Any suggestions on how to proceed? The smallest solution to this would be to not return `:stop` in `batcher.ex`'s `handle_info` if there are pending preflight checks. I'd be happy to submit a PR to do this, but if you think having preflight checks in `batcher.ex` is a hack, then I am not sure piling another hack on top of it is a good idea.

[2022-03-16 19:33] notriddle commented on #1434
I'd be happy with a PR that fixes batcher's `:poll` method to not return stop if there are pending preflight checks.

[2022-03-17 11:18] francoisfreitag commented on #1473
Hi @ileixe,
Bors relies on [GitHub status checks](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/about-status-checks) to get the status of the commit it is about to integrate.
As long as your CI is reporting the status checks to GitHub, you should be able to find it in your GitHub project settings. I usually find t

[2022-03-22 21:32] DJMcNab commented on #1163
I think I'm going to close this out. My heuristic is too simplistic, and the [Merged By Bors] is useful anyways. Additionally, the issue is a suggested fix instead of a problem statement with the current state, making discussion more difficult.

As it happens, since bevy uses GitHub webhooks, this is actually better UX than merging a PR, since both merging and closing are listed as 'pull request c

[2022-03-22 21:32] #1163 closed

[2022-04-04 17:41] nairb774 opened #1487 "MatchError: no match of right hand side {:error, :post_comment, 502, "{ \"message\": \"Server Error\" } "}"
Looks like Bors is missing some error handling for when it fails to post a comment. It looks like it got all the way through merging the PR, and had commented and cleaned up one of the PRs, but not the other (2 in the batch).

[code]

This is the first time I've noticed this. The only reason I bring it up is that the PR was left in kind of a funky state - merged, but not closed. A second `bors mer

[2022-04-04 18:14] C0D3-M4513R opened #1488 "Changing repo visibility"
Changing the visibility of a github repo will not refresh the bors status. It will not show up, until you have removed the repo from the allowed list of repos bors has access to, and re-added it.

[2022-04-07 06:36] phmeier-nubank opened #1489 "MultipleResultsError"
We observed this on our Bors installation the other day. It seems like the problem has eventually resolved but this might be something to look into.

Build: [6f08025](https://github.com/bors-ng/bors-ng/tree/6f08025)

[code]

[2022-04-08 13:07] dessskris commented on #578
+1 for this issue.

The PR that @kamalmarhubi posted no longer has the Revert button.

<img width="935" alt="image" src="https://user-images.githubusercontent.com/16229203/162441679-5c12ebfe-0626-448a-b72a-e53831eeb9a8.png">

[2022-04-13 18:03] curquiza opened #1492 ""Rejected by PR status" despite the check is validated"
Hello bors team!

Thanks for this awesome tool!

We have an issue with bors refusing to merge our PRs despite all the PR checks are validated.

We have a CI running to check a label has been put to the PR.
This check is put in the bors.toml as `pr-status`, see our settings

[code]

We suceeded to merge other PRs, but we don't know why, for [this one](https://github.com/meilisearch/milli/pull/498),

[2022-04-13 19:04] onthespotqa commented on #1237
@Djiit never got it to work.

[2022-04-13 19:16] Djiit commented on #1237
Folks, I just had to re deploy my heroku instance with a correct secret. I'll advise to try to redeploy when all your env vars are OK

[2022-04-14 09:59] curquiza opened #1493 "Impossible to merge: status check is expected, despite it's validated"
Sorry if it's related to this issue, but I'm not sure: https://github.com/bors-ng/bors-ng/issues/1492

Here are our settings:

[code]

One of our problematic PR: https://github.com/meilisearch/milli/pull/494
Every test passes, and the `Specify breaking` status check is validated. However, Bors refuses to merge:

[code]

But regarding the bors dashboard, only this PR (the 494 I linked above) was in

[2022-04-14 16:29] curquiza commented on #1493
ok thanks for your quick answer!
We will try this 🙂
I close the issue and I will re-open if needed!

[2022-04-14 16:29] #1493 closed

[2022-04-19 12:55] curquiza commented on #1492
Same issue here: https://github.com/meilisearch/milli/pull/499

[2022-04-19 15:26] notriddle commented on #1492
The problem is you need to turn off the "Required" branch protection setting in GitHub.

[2022-04-19 17:52] jonathan-boudreau-work commented on #1288
FORCE_SSL not working  is also an issue for ingress-nginx. I'm not familiar with the language or framework used, so patching will be difficult. Wasn't able to find where the environment variables are being pulled from.

[2022-04-22 21:14] nykolaslima opened #1494 "Heroku deploy does not work"
I have configured the Github App and when deploying the Heroku app I got an error:
[code]
![image](https://user-images.githubusercontent.com/1128572/164794326-33abff8c-ae59-427c-8733-bab719144ec1.png)

Any ideas on what should be wrong?

[2022-04-23 00:09] Jroze88 commented on #1494
Heroku has temporarily disabled linking github, try the CLI?

[install for your os](https://devcenter.heroku.com/articles/heroku-cli)
then from the root of your git repository:
`heroku login`
`heroku git:remote -a your-app-name-on-heroku`
`git remote -v` you should see (push) and (fetch) messages between your heroku app and the github project
`git push heroku main` or whichever branch you deploy

[2022-04-23 00:32] nykolaslima commented on #1494
Hi @Jroze88 looks like the Heroku's addons are down:
[code]

[2022-04-23 00:39] notriddle commented on #1494
This is interesting, but it's definitely Not My Problem.

If you're looking for a workaround, consider a [docker-based deployment instead](https://forum.bors.tech/t/setting-up-bors-with-docker-compose/205).

[2022-04-23 00:39] #1494 closed

[2022-04-24 16:18] acepaceNS opened #1495 "Running bors locally and cannot access over https"
I'm using latest `bors-ng` and building my own container.

Running it, bors finishes the initialization properly
[code]

But when I attempt to access it using wget, I get the following failure
[code]

Unclear where I have gone wrong with the dev instructions

[2022-05-03 16:59] jonathan-boudreau-work opened #1500 "Unable to deploy with squid proxy"
Hello, we are using a squid proxy for our apps, and would like bors to use it when calling Github's API. I tried setting the usual HTTPS_PROXY or https_proxy environment variable on Linux and it doesn't seem to go through it. I'm not familiar with elixir or erlang and I wasn't able to find documentation on how to make it use this.

[2022-05-03 19:00] jonathan-boudreau-work commented on #1500
I'm not sure how this would fix the problem, my issue is Github's API isn't reachable without a proxy (not reverse proxy) in our networking configuration. In my particular case, bors-ng times out trying to call `:get_app`.

[2022-05-05 15:07] jonathan-boudreau-work commented on #1500
Sorry for the late reply, yes this does seem to fix the issue. Would it be possible to have this implemented into bors itself?

[2022-05-09 21:01] jonathan-boudreau-work commented on #1500
Hello again, I was able to get the application to start up. Unfortunately, it looks like the oAuth2 client isn't picking up the proxy settings.

[2022-05-16 20:45] #1500 closed

[2022-05-21 09:45] dpp23 opened #1505 "Bors gets confused if a repo is transfered to another org"
When you transfer a Github repository to another org, `bors` seem to get stuck.

We did this with one of our private repositories against our own bors instance. What happened was that bors was still showing the repo from the old org.

When we tried to authorize the app with the repo in the new org, we got:

[code]

We resolved it by nuking the `bors` database in our instance, but if someone transf

[2022-05-24 17:57] kevincox opened #1506 "Implement tighther timeouts for required statuses without an "In progress" update."
Right now you can configure required status checks and bors will wait for them to complete. However there is a large footgun where changing the name of a check in either the bors config or the check itself or trying to remove an old check but forgetting to remove it from bors.toml will result in a timeout. This can be especially painful if jobs are slow and the timeout is high as it is essentially

[2022-06-20 20:09] Xavientois commented on #981
We ran into this same conundrum where we want to use `renovate[bot]` to merge with bors, but we also want to synchronize the rest of the repo reviewers. This enhancement would also be useful for us.

Would the idea be to have a separate list of reviewers that can be manually configured in addition to the synced one?

[2022-07-01 05:05] pinkforest opened #1519 "Bors approves old commit - sync / race issue"
@notriddle you might be interested on this race / sync issue happening on: https://github.com/rust-lang/rust/pull/98708

Bors picked up the wrong old commit upon r+ rollup for some reason
I re-opened the PR and then after r+ picked up the correct commit - there was no related GH outage I believe with this one

Incorrect - https://github.com/rust-lang/rust/pull/98708#issuecomment-1171587282 - shoul

[2022-07-01 05:35] pinkforest commented on #1519
Would there be a way to expand r+ syntax to include explciit commit hash ref? as to clear intent to which commit to approve

[2022-07-01 05:39] pinkforest commented on #1519
Is there a way to disable implicit r+ and enforce explicit r+ with hash ?

[2022-07-01 05:42] pinkforest commented on #1519
Bors

[2022-07-01 06:08] pinkforest commented on #1519
Happy to accept PR to do this?

[2022-07-01 06:23] pinkforest commented on #1519
@ehuss @pietroalbini @jyn512 how would you feel about explicit r+ commit rollup as above ^^ ?

[2022-07-05 21:40] Bromeon commented on #1028
Has there been any recent discussion about this topic? Squashing on-demand would be a very useful feature, and could relieve both PR authors and reviewers from extra work.

Unfortunately, asking pull request authors to manually squash often leads to a lengthy and bureaucratic back-and-forth. It also poses a higher entry burden for users who are not well-versed in Git workflows, and can add frustra